[2015-05-29 11:30] ben-eb opened #1 "Add support for namespace selectors."

[2015-05-29 11:42] ben-eb opened #2 "Nested pseudo selector support"
We need to correctly parse/stringify these cases (and others):

[code]

[code]

[2015-05-29 14:44] #1 closed

[2015-05-29 15:37] ben-eb opened #3 "Refactor AST"
It is a little confusing to differentiate between `selectors` and `rules` as it is currently written. It might be better written as `nodes` and then let the selector type govern how that block is converted to string. For example, the current `root` type can insert a comma between each of its nodes, and selectors within are then joined together. It also means iterator methods only need to be writte

[2015-05-29 16:30] ben-eb opened #4 "Ensure escaped definitions are parsed properly."
Input:

[code]

Output:

[code]

This should be one class selector.

[2015-05-29 18:23] #4 closed

[2015-05-30 15:21] ben-eb opened #5 "Ideas for API, anything else we should add?"
Some of my initial thoughts on this:

# ast methods

## each (done)

Non-recursive iterator for each selector inside a container.

## eachInside (done)

Recursive iterator for each selector inside a container.

[code]

## eachTag (done)
## eachClass (done)

Sugar for `eachInside`.

[code]
## eachId (done)
## eachAttribute (done)
## eachPseudo (done)
## eachUniversal (done)
## eachComment (done)
##

[2015-05-30 15:28] TrySound commented on #5
@ben-eb If something like this is possible, I do not have suggestions.
[code]

[2015-05-30 15:35] ben-eb commented on #5
@TrySound Yes, I plan to do something like this. I think `eachClass` should be just sugar for `eachInside`, so this would also be equivalent:

[code]

[2015-05-30 16:16] benfrain commented on #5
Ben, one thing I intend to add to my workflow shortly is the ability to warn or error if certain class naming conventions (via regexp) are not met. Looks like the eachClass would be good for that?

[2015-05-30 16:34] ben-eb commented on #5
@benfrain Yep, that sounds like a good use case for this API. It could look something like this:

[code]

I am not sure about warnings/errors API for this just yet, however. I think it is probably best to use the PostCSS warnings API after parsing the selector, so that you get a position of the error.

[2015-05-30 18:05] MadLittleMods commented on #5
#### `eachDescendent`

`a b c` or `a >> b >> c`

 - `a`
 - `b`
 - `c`

#### `eachDirectDescendent`

`a > b c > d + e`

 - `a`
 - `b c`
 - `d + e`

Maybe a `eachCombinator(combinator, cb)`

#### `eachCompoundSelector`

`h2 a[href] i:not([alt])`

 - `h2`
 - `a[href]`
 - `i:not([alt])`

[2015-05-30 18:12] ben-eb commented on #5
@MadLittleMods These can be handled by `eachInside`. In the case of `eachCompoundSelector`, `eachInside` could iterate:

* `h2`
* `a`
* `[href]`
* `i`
* `:not()`
* `[alt]`

I'm considering adding `eachCombinator`. However it would probably end up as sugar for this:

[code]

[2015-05-30 18:31] ben-eb commented on #5
@MadLittleMods suggested this in the Gitter chat:

[code]

[2015-05-31 15:47] #3 closed

[2015-05-31 18:44] TrySound commented on #3
Good! Very good!

[2015-05-31 20:38] ben-eb opened #6 "Whitespace handling"
The whitespace handling is currently not fantastic. I believe that it is throwing off the parsing for nested pseudo elements, so I would like to change it. I am considering this new structure (consider SS as spaces):

[code]

Parsed to:

[code]

This way `combinator` should always contain the 'cleaned' version of the whitespace, and `raw` can contain the original amount.

[2015-06-01 00:53] MadLittleMods commented on #6
**Note:** For this idea, flatten out combinator into its own node alongside others.

 - Put before/after `spaces` in preceding/following nodes.
 - For the special case of the `space` descendant combinator, use the first or last space between the nodes.

#### `h1     >>      h2`

[code]

#### `h1           h2`

[code]

[2015-06-01 08:31] ben-eb opened #7 ""Lossy" mode."
For most use cases I feel it is appropriate for the parser to be able to normalize whitespace values itself, but only if the consumer tells it to. In the case of a linter, for example, you might want to show a warning that there is extra whitespace, but for everything else we can tell the parser to discard the `raw` property. So to enable this I was thinking of this API:

[code]

So an input like

[2015-06-01 08:33] ai commented on #7
Why it should be in parser? Lets normalize in plugin, like we do it in PostCSS.

[2015-06-01 08:46] ben-eb commented on #7
@ai It should only be a shortcut so that the user doesn't have to care about the raw property. I don't see any harm in adding it, especially as the parser can tell which whitespace is significant and which isn't.

[2015-06-02 05:00] davidtheclark opened #8 "Support pseudo-classes anywhere in selector"
The following tests do not pass but should (I think):

[code]

(I didn't know if you would want me to submit a PR with breaking tests.)

It is more typical to apply pseudo-classes at the end of a selector, but I guess it is not required:

(http://www.w3.org/TR/CSS21/selector.html%23id-selectors#pseudo-elements)

The tested selector above is from http://meyerweb.com/eric/articles/webrev/200102.html

[2015-06-02 08:12] ben-eb commented on #8
The behaviour as it stands is intended for pseudo-elements. However I don't think in the parser we should differentiate between types of pseudo selectors, so I am happy to accept a PR for this. :+1:

[2015-06-02 08:20] ben-eb commented on #6
Most of the work for this landed in https://github.com/postcss/postcss-selector-parser/commit/30b08d52c9efd3c68c88791ecf2b933bf6bbfa56. I am going to refactor how other (non combinating) spaces are handled and then I'll go ahead and close this.

[2015-06-02 13:21] #2 closed

[2015-06-02 13:21] #6 closed

[2015-06-02 13:50] ben-eb commented on #8
@davidtheclark The tests are not passing because the word splitting logic only exists in the `word` function. So I think this patch needs to extract that out into some common method that the `word` and `pseudo` function can both consume.

[2015-06-02 14:11] davidtheclark commented on #8
Ok, thanks for the info. At some point within the next week I will try to find some time to look into this.

[2015-06-03 02:53] davidtheclark commented on #8
I'm finding it pretty difficult to figure out what's going on in there ... so just an FYI that this may be a while.

[2015-06-03 12:14] ben-eb commented on #8
I don't mind doing this if you are struggling with it. I know this parser quite well now. :smile:

[2015-06-05 03:54] davidtheclark commented on #8
Go for it. I'm not making a lot of progress here. I'll try to understand your solution.

[2015-06-07 15:46] #8 closed

[2015-06-10 16:50] ben-eb commented on #5
I have `replaceWith` still left to do, and will provide `insertBefore` & `insertAfter` methods to work with that. After these are done I will release a `1.0.0` version.

Any other suggestions for this initial API?

[2015-06-14 20:01] ben-eb commented on #5
Done https://github.com/postcss/postcss-selector-parser/commit/86137dfb872b8200e8dfca74533269b0b67807e0.

[2015-06-14 20:01] #5 closed

[2015-06-15 12:35] jonathantneal opened #9 "exist is not defined"
It makes using `insertBefore` and `insertAfter` rather impossible.

https://github.com/postcss/postcss-selector-parser/blob/master/src/selectors/container.js#L81

[2015-06-15 12:40] ben-eb commented on #9
:+1:

Surprised the tests didn't pick this up. :confused:

[2015-06-15 12:49] ben-eb commented on #9
@jonathantneal Can you provide some example code that I could reproduce this with? I have this test passing:

[code]

[2015-06-15 12:51] #9 closed

[2015-06-15 12:53] ben-eb commented on #9
Released as `1.0.1`.

[2015-06-15 13:19] jonathantneal commented on #9
Thanks so much for the fix! I’ll use the proper methods in my plugin as soon as I can.

I am matching the `:any-link` pseudo-class in a selector, and then replacing that selector with the two fallbacks which use `:link` and `:visitied` in its place. To get around this bug, I ended up using `selectors.node.splice` for my first release.

https://github.com/jonathantneal/postcss-pseudo-class-any-link

[2015-06-15 13:23] ben-eb commented on #9
Nice one. Let me know if there are any other issues, this parser is still very early days at the moment! :smile:

[2015-06-23 15:22] ben-eb opened #11 "Do not throw on multiple IDs or trailing commas."
Special provisions must be made in the parser to support an extra comma and 'qualified' ID selectors such as `#foo#bar` to support the use case of parsing legacy hacks.

[2015-06-23 22:22] #11 closed

[2015-06-29 13:31] ben-eb opened #12 "Better handling of parentheses."
Ref: https://github.com/cssnext/cssnext/issues/168#issuecomment-116631394

The selector `.icon.is-$(network)` causes a freeze due to how the parentheses are handled. The logic for this should be refactored so that the parentheses are appended to the last selector, then, if that selector was a pseudo element, then the tokens inside should be parsed in the current nested structure. Otherwise, they s

[2015-06-29 13:53] ben-eb commented on #12
I should note that this patch should pass this test:

[code]

And then this exception test may be removed:

[code]

[2015-07-02 22:36] #12 closed

[2015-07-11 20:43] davidtheclark opened #13 "Dealing with arguments"
Right now if I parse the selector `.foo:nth-child(3)` it looks like I'm getting a node whose value is `'3'` and type is `'tag'`.

It seems to me that the parser should differentiate arguments from tags.

But at the same time it probably ought to still report the class `.bar` in `.foo:not(.bar)`.

What do you think?

[2015-07-11 21:24] ben-eb commented on #13
I define `tag` as a 'fallback' - so that nodes that don't match any of the other patterns (class, id, attribute selector etc) end up in tag. The parser has no knowledge of valid XML/HTML tags. I'm not sure that adding an alias to tag for argument makes sense because what if that value is `h1` - doesn't it make more sense as a tag?

[2015-07-11 22:01] davidtheclark commented on #13
Hm. What about this:

I searched a little through http://www.w3.org/TR/css3-selectors/ and I only see two types of selectors that take arguments, and the type of argument each takes is consistent. The negation pseudo-class, `:not()`, always takes a simple selector -- so that argument could be parsed just like other selectors. The `:nth-*()` pseudo-classes (e.g. `nth-child()`, `nth-of-type()`) take

[2015-07-12 11:57] ben-eb commented on #13
I'm not sure if I want to go down the route of parsing different types of pseudo classes as different entities. I wanted to make the parser be aware of *CSS-like* syntax, so if you made up some new selector like `a:unicorns(47)` then it could still parse that into a tag, followed by a pseudo containing a tag.

This seems important because people are generating lots of language extensions; it would

[2015-07-12 15:12] davidtheclark commented on #13
Ok. I will handle my particular issue in my own code. Thanks.

[2015-07-12 15:12] #13 closed

[2015-07-23 13:23] davidtheclark opened #14 ""combinators" found in `nth-child` expressions"
Another `nth-child` problem ...

Given the selector `.foo:nth-child(2n + 1)`, the parser thinks that plus sign is a combinator.

Given the selector `.foo:nth-child(2n - 1)`, the parser thinks the spaces around the minus signs are combinators.

[2015-07-23 14:41] ben-eb commented on #14
This is a tradeoff between the parser being generic enough to support custom pseudo element syntax, whilst also being specific enough to understand common CSS grammar such as the combinator. Are we sure we are not just duplicating the discussion in https://github.com/postcss/postcss-selector-parser/issues/13?

If we add the detection of this case to the parser we have to go down the road of differ

[2015-07-23 15:20] davidtheclark commented on #14
Yeah, I see the flexibility argument. However, this is faulty parsing of valid CSS --- I'm guess I'm not going to agree that that's not a problem.

Would it be sufficient to say that anything wrapped in parentheses is an "expression" and therefore plays by different rules? Maybe you don't go to the trouble of really parsing `:nth-*` expressions. I just can't think of a case where the parser would

[2015-07-23 15:31] ben-eb commented on #14
The main use case is in pseudo elements that take a selector list, for example the negation selector:

[code]

[2015-07-23 16:24] davidtheclark commented on #14
Makes sense. But that does mean you're privileging `:not()` or `:nth-*`, right --- if `:not()` will be parsed correctly at the expense of `:nth-*`?

If user was told that their pseudo-selector `:not()` contained the *expression* `.main-title, .article-title`, their parsed results are not *incorrect*, they're just incomplete, and the user could run the expression through the parser again to parse t

[2015-07-23 16:46] ben-eb commented on #14
Yes, the `:not()` case is prioritised. It enables the not so likely but plausible parsing of multiple levels of pseudo selectors, such as:

[code]

As I remarked earlier, this is a *tradeoff*. I wrote it like this because I thought that it was a good idea to allow people to map over nested pseudo selectors easily. If it is not done inside the parser, we must write some user-land code to evaluate t

[2015-07-23 16:54] davidtheclark commented on #14
Ok. I'm unconvinced that returning an inaccurate AST on valid selectors is worth this, but I'll close the issue.

[2015-07-23 16:59] ben-eb commented on #14
Actually, I think both approaches are valid. If I had implemented your method in the first place (which was one of the very first considerations) then I may have had someone asking of me the way I have implemented it now.

Would you be happier with a flag for not parsing pseudo selector parameters?

[2015-07-23 17:33] davidtheclark commented on #14
I do think that would be a good addition.

Either way there should probably be some note in the README about the issue; and it would look better if rather than just having to state "The parser will return an inaccurate AST if input CSS contains `:nth-*` selectors" you could instead qualify that with "By default" and add "The alternative is to ..."

[2015-07-23 18:35] ben-eb commented on #14
Let's say I will accept a PR for an optional flag for the parser to not parse pseudo parameters. I can potentially handle this myself but it would be lower down on the priority list.

[2015-08-17 21:57] ashelley opened #15 "Infinite loop with unknown token"
This code here doesn't specify a default case and will not advance the token stream if it receives an unknown token.

https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L273-L302

To test this try parsing this css selector (causes an infinite loop):

[code]

The token will be 'at-word' as per:

https://github.com/postcss/postcss-selector-parser/blob/master/src/tokenize.js

[2015-08-17 22:03] ashelley commented on #15
I actually don't want this to throw and I want this code to ignore the problem with the css and pass through the selector so I fixed the parser like this:

[code]

[2015-08-17 22:39] #15 closed

[2015-08-17 22:41] ben-eb commented on #15
Released as `1.1.3`. Thanks for reporting. :+1:

[2015-08-17 23:05] ashelley commented on #15
wow, that was quick! @ben-eb thanks!

[2015-08-18 02:02] ashelley commented on #15
just a heads up that this will parse ".@something {}" into a class node with a .value of "" and a tag node with the value of .@something which may or may not be what people want.  it probably should be parsed into a class node with a .value of "@something" instead.  For now it's better than the infinite loop though.

[2015-08-19 13:58] davidtheclark opened #16 "Error with nested selectors starting with combinator"
Over at https://github.com/stylelint/stylelint/issues/348, @benfrain and @kungfusheep pointed out that the following syntax is breaking postcss-selector-parser:

[code]

PostCSS doesn't trip up on it; and postcss-nested compiles it correctly; but this module throws the following error:

[code]

Any chance the parser can support this kind of nested selector?

[2015-08-19 14:18] ben-eb commented on #16
Yeah, the parser is a bit opinionated in this area, which makes sense looking at standard syntax, but not so much with nested syntax. :+1:

[2015-08-19 14:20] #16 closed

[2015-08-19 14:25] ben-eb commented on #16
Released in `1.1.4`. Thanks for the report! :smile:

[2015-08-19 15:08] davidtheclark commented on #16
Thanks for the quick response. I'll get that fix into stylelint this
evening.

On Wed, Aug 19, 2015 at 7:25 AM, Ben Briggs <notifications@github.com>
wrote:

[2015-08-30 00:14] davidtheclark opened #18 "Get index of node within source string"
Right now there's a way to get the array-index of a node within its parent's node array ... but I'd like to get the string-index of a node within its source string. Is that feasible?

The use-case is for stylelint, to feed these indexes into PostCSS 5's new `warning` `index` option, in order to get accurate positions for errors (e.g. you used an id selector but have a rule saying you shouldn't).

[2015-08-30 14:51] ben-eb commented on #18
Like PostCSS, the tokenizer does actually save source positions (e.g. https://github.com/postcss/postcss-selector-parser/blob/master/src/tokenize.js#L98), but nothing is being done about them currently. Note that as this parser is a standalone tool there probably won't be a connection between the *original* string of CSS and the location in selector-parser's AST, but you should be able to get an a

[2015-08-30 15:05] davidtheclark commented on #18
I thought maybe the simplest solution would be to expose a simple string index -- and that (the index) is the info that I actually need for my use-case. Line/column wouldn't do the trick.

[2015-08-30 15:14] ben-eb commented on #18
So if you're looking for an ID in this selector string, you would expect that this would return `4`?

[code]

[2015-08-30 15:25] davidtheclark commented on #18
Yes

[2015-08-30 15:45] ben-eb commented on #18
How about `Node#sourceIndex`?

[2015-08-30 15:46] davidtheclark commented on #18
Great!

[2015-09-04 12:09] ben-eb commented on #18
Current work here; this is a more complex feature than I anticipated, so any help is appreciated.

https://github.com/postcss/postcss-selector-parser/tree/source-index

[2015-09-04 23:35] davidtheclark commented on #18
Could you clarify the status of the current work? All these tests pass --- but when I look closer it seems that some of them shouldn't? Or else I don't understand? Are there more things you know need to be tested? Not sure how to contribute here.

[2015-09-04 23:43] ben-eb commented on #18
We're currently missing support for attribute selectors and pseudo selectors. I *think* the tests that are currently there are as expected, but let me know as it's not a feature that I would personally be using. :smile:

Also, I think multi-line selectors will have some weird behaviour for `sourceIndex`; something needs to be done there to calculate how many characters need to be added. It's all O

[2015-09-04 23:45] davidtheclark commented on #18
Thanks! I'll probably be able to put a few minutes here and there this weekend into having a look. Hope I can figure it out.

[2015-09-06 20:01] ben-eb commented on #18
Awesome work, thanks! :+1:

Released as `1.2.0`.

[2015-09-06 20:01] #18 closed

[2015-09-26 14:51] ben-eb opened #24 "Roadmap for version 2."
* Consistency with PostCSS 5; `eachTag` -> `walkTags`, `node.removeSelf()` -> `node.remove()`.

Other breaking suggestions welcome.

[2015-09-26 15:01] jonathantneal commented on #24
- Processor extends Root

This would let us put the selector before the selector’s transform, which works better in my head, at least. The breaking change would be that this means the processor takes a selector string instead of a transform function.

- walk methods ('each', 'walk', 'walkXs') accept `([filter,] callback)`

Like PostCSS, this save us the trouble of adding the additional filter in o

[2015-09-29 11:08] dmitry opened #25 "Infinite loop with not and quotes"
This code hangs webpack:

[code]

Working with single or double quotes.

More details and the code to reproduce this issue: https://github.com/jtangelder/sass-loader/issues/168

I believe it should never hang in the infinite loop, but rather use limited number of iterations to complete the parsing and may be raise an error.

This test code should work:

[code]

[2015-09-29 14:35] #25 closed

[2015-09-29 14:37] ben-eb commented on #25
Released as 1.3.0, thanks for reporting. :+1:

[2015-09-29 15:05] dmitry commented on #25
@ben-eb Thanks! :rocket:

Does it works with single-quote? I don't see the tests for that.

[2015-09-29 15:09] ben-eb commented on #25
Yep, it uses the same string tokenizing logic as PostCSS. I added a test case in 37750c7.

[2015-09-29 15:10] dmitry commented on #25
@ben-eb thanks again! :+1:

[2015-10-29 22:08] shellscape opened #26 "General Questions"
Fascinating project, first off. Thanks for making your work available. I do have a few questions that I couldn't find the answers to in the repo:

- postcss-selector-parser's name and parent org on Github suggest that it's a project for postcss. Is this project being integrated with postcss proper, or is there a manual means to integrate the project with postcss on the consumers end, in code?

- I

[2015-10-29 22:12] ai commented on #26
@shellscape `postcss-selector-parser` is a too to parse selectors in PostCSS plugins. Because PostCSS do not parse seectors deeply, it return just a strings. But you can use `postcss-selector-parser` to parse selector in any tool, not in PostCSS plugin (it accepts string and return AST). Yes, threre is a plan to add it to PostCSS, but it will not be soon.

[2015-10-30 01:05] shellscape commented on #26
@ai thanks for the quick answers, much appreciated.

[2015-10-30 01:05] #26 closed

[2015-10-30 18:56] shellscape commented on #26
fwiw I've started on a less syntax built upon the postcss-scss syntax, and modified. https://github.com/gilt/postcss-less very pleased with how easy is it to use these patterns. would welcome any feedback as this is my first foray into the project. /cc @ai

[2015-11-12 20:46] jeddy3 commented on #24
* Parse for the _nesting selector (&)_

Ref: https://github.com/stylelint/stylelint/issues/499 .

[2016-01-11 11:45] ben-eb opened #27 "Throw on trailing colons?"
Currently we do this, as it turns out it breaks support for Polymer mixins, see: https://github.com/ben-eb/gulp-cssnano/issues/17.

How should we handle these in future? Should we still throw or parse them as a type?

/cc @davidtheclark

[2016-01-11 13:35] davidtheclark commented on #27
Does that mean `--something:` would have *two* type selectors, `--something` and `:`? Or that the whole thing would be one type selector?

The weird thing that I'm trying to get about the Polymer syntax is that it's mimicking custom properties -- so it's actually not intended to be a selector, I think, but a custom property -- but it doesn't look like they're applying it to `:root`. What I'm sayin

[2016-01-11 15:11] ben-eb commented on #27
*Not* parsing these is much more acceptable, I think. I chose to ignore these "selectors" in postcss-minify-selectors so my use case is covered, but I wanted a second opinion. Thanks!

[2016-01-11 15:11] #27 closed

[2016-01-15 08:42] morishitter opened #28 "Cannot use with postcss-apply"
I start to use [postcss-apply](https://github.com/pascalduez/postcss-apply) with cssnext (postcss-selector-parser is used in cssnext), but the following error is occured.

[code]

and here is my CSS code.

[code]

I wish your help. Thanks.

[2016-01-15 09:21] ben-eb commented on #28
I think it would be best to open an issue (or better, send a PR) on the affected plugin(s) that use postcss-selector-parser, see https://github.com/postcss/postcss-selector-parser/issues/27 for the original discussion behind this, and see https://github.com/ben-eb/postcss-minify-selectors/commit/26af0e2eff5363bc922821398145492d9fc2c8fb for a fix.

[2016-01-15 09:21] #28 closed

[2016-01-15 10:48] morishitter commented on #28
:+1:

[2016-02-01 15:18] ben-eb opened #30 "100% coverage"
Could use some help getting the unit tests up to 100%, as of right now we're about ~95% covered.

[2016-02-28 00:08] davidtheclark opened #36 "sourceIndex on selector nodes"
I just noticed that `sourceIndex` is `undefined` on selector nodes. Seems like selectors nodes should get that data just like the other nodes.

A use-case is to get the index of one selector within a selector list: I might parse the selector list `.foo .bar .baz, a b`, then run `selectorListNode.each(selectorNode => {..})` and within that function want to know `selectorNode.sourceIndex`.

Just a f

[2016-02-28 00:09] ben-eb commented on #36
PR welcome. :+1:

[2016-03-03 03:23] montmanu opened #37 "attribute selectors with quoted values containing = incorrectly parsed"
Input:
[code]
Output:
[code]

Both the [CSS 2.1](https://www.w3.org/TR/CSS2/selector.html#attribute-selectors) and the [CSS3](https://www.w3.org/TR/css3-selectors/#attribute-selectors) specifications say:

The spec says the following about [strings](https://www.w3.org/TR/CSS2/syndata.html#strings):

[2016-03-03 11:52] ben-eb commented on #24
I've had a thought, now I'm not really convinced that string filters are a good API design for this parser. Some selector types are just single strings (like `universal`) and so a filter is unnecessary for these purposes, plus I'd prefer that people use the `walk` method anyway;

[code]

[2016-03-04 08:46] jeddy3 opened #42 "Parser seems to hang on mismatched closing parenthesis"
Ref: https://github.com/stylelint/stylelint/issues/848

[code]

I spent a while looking through the source of the parser (which was very informative, but a bit beyond me I'm afraid) and I think it might have something to do with [these while loops](https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L180). Sorry for not being more help though.

Any idea what is causing the

[2016-03-04 10:01] ben-eb commented on #42
Seems like it would be appropriate to throw an error in these cases as they aren't valid selectors, what do you think?

[2016-03-04 11:05] jeddy3 commented on #42
I think so.

FYI, I stuck at it for a while I got as far as splitWord in parser.js. I'm curious to see where throwing this error goes as it might help me understand the mechanics a bit better.

[2016-03-04 11:08] ben-eb commented on #42
It hangs because the closing parenthesis is not handled by the `loop` function. :smile:

[2016-03-04 11:10] jeddy3 commented on #42
I was getting closer :-)

[2016-03-04 13:27] #42 closed

[2016-03-06 16:33] #24 closed

[2016-03-06 16:33] #37 closed

[2016-03-06 19:58] ben-eb opened #44 "Test failures on 0.12"
Cannot reproduce locally, need to find out the cause of the error (blocking v2).

https://travis-ci.org/postcss/postcss-selector-parser/jobs/114067641
https://travis-ci.org/postcss/postcss-selector-parser/jobs/114086067

/cc @davidtheclark @jeddy3

[2016-03-06 21:50] jeddy3 commented on #44
Can you try a more verbose (`-v`) ava output on travis?

[2016-03-06 22:11] ben-eb commented on #44
Yeah, it didn't yield any different output unfortunately.

https://travis-ci.org/postcss/postcss-selector-parser/jobs/114115968

[2016-03-06 22:27] davidtheclark commented on #44
I also was unable to reproduce by switching Node versions. That's on OSX. I will be on a Linux machine at work tomorrow and can see if that makes a difference and I'm able to reproduce.

[2016-03-06 22:39] ben-eb commented on #44
@davidtheclark Thanks! Just really puzzled why this is happening. :confused:

[2016-03-11 22:04] davidtheclark commented on #44
Sorry forgot to follow up on this. No good news, though. I cannot reproduce on Linux, either.

[2016-03-12 00:29] ben-eb commented on #44
@davidtheclark No problem, this is also tracked here: https://github.com/sindresorhus/ava/issues/604

[2016-03-20 05:02] shellscape opened #50 "tag selectors with attributes lose quotation marks"
It would seem that the parser isn't considering the quotation marks used in selectors, specifically tag selectors with attribute definitions.

Consider the following selector: `input[type='text']`

The parsed tree output for that selector is:

[code]

I had the expectation that the quotation marks would be preserved in raws or spaces, or some other property.

[2016-03-20 05:17] shellscape opened #51 "please publish new minor"
cheers on this parser, very well done thus far. I'd like to request a new minor version be published with the changes from `eachAttribute` -> `walkAttributes`. I was using the source as a reference and couldn't figure out why walk and walkAttributes were undefined. Version 1.3.3 doesn't contain those references, but rather `each` and `eachAttribute`.

thanks again

[2016-03-20 12:04] ben-eb commented on #50
The quotation marks appear in the attribute value property.

[2016-03-20 12:08] ben-eb commented on #51
It's a breaking change so I can't release a minor. This release is unfortunately blocked at the moment, as we're getting random failures on 0.12.

https://github.com/postcss/postcss-selector-parser/issues/44

[2016-03-20 12:08] #51 closed

[2016-03-20 12:52] shellscape commented on #50
ouch, not even a chance for discussion.

other ast generators treat non-word characters like quotation marks like metadata, or akin to how postcss treats spacing around properties and values. this would be a big value-add for granular inspection of selectors.

[2016-03-20 13:10] ben-eb commented on #50
What use case do you have in mind? The way it works now may be a little naïve but I haven't had reason to change it. :smile:

[2016-03-20 13:14] shellscape commented on #50
thanks for reopening. here's our exact use case: https://github.com/lesshint/lesshint/blob/postcss-less-parser-replacement/lib/linters/attribute_quotes.js#L15

The `attribute` property contains the string value, minus the quotations just as we had expected. We'd love to be able to walk or inspect the quotations around it, rather than using a regex on the entire string. That's why I had initially t

[2016-03-20 13:21] ben-eb commented on #50
/cc @jeddy3 @davidtheclark @ai

Thoughts?

[2016-03-20 15:46] davidtheclark commented on #50
Makes sense to me to have it in `raw` or as an additional property, either way.

[2016-03-20 15:53] davidtheclark opened #52 "Handling of Sass interpolation"
I thought we must have discussed this before but can't find any record ... So here's the issue (cf. https://github.com/stylelint/stylelint/issues/945):

If Sass users have `.#{$my-class-name}` that selector gets parsed as a class simple selector (with no actual class name) and an id simple selector. What would you think about changing the behavior so `#` does not trigger the beginning of an id sel

[2016-03-20 16:46] ben-eb commented on #52
What's the *ideal* expected result from the parser for this selector?

We can change this for 2.0 if you like. It's still blocked...

[2016-03-20 16:52] davidtheclark commented on #52
I think just treating it as a class with a value of `#{$my-class-name}`, so the user can decide what to do with it. Sound good?

[2016-03-20 18:02] ben-eb commented on #52
OK. PR welcome. :+1:

[2016-03-21 13:00] jeddy3 commented on #50
If having it in `raw` etc allows a more granular inspection, then that sounds good to me.

[2016-03-21 20:49] shellscape opened #54 "raws versus raw"
Wanted to raise this slight discrepancy with the PostCSS main parser. postcss-selector-parser uses a property name of `raw` on its nodes, while PostCSS uses the property name `raws` on its nodes. Surely nothing critical, but would be keen to see a consensus reached so this could be merged as part of PostCSS proper, and also for ease of development in other tools.

[2016-03-23 14:31] #52 closed

[2016-03-23 15:12] ben-eb commented on #50
My opinion on this is that the quotes are *either* optional *or* mandatory, depending on what characters are in the value and, as they can be either `"` or `'` it makes the most sense to me to have them as part of the value.

My proposed solution would be to provide a `quoted` (boolean) property in the attribute selector, with an `unquoted` property in the raw values as a convenience. What do you

[2016-03-23 15:14] ben-eb commented on #54
Yeah, 5.0 introduced `raws`. We can do the same for `2.0`, not really concerned too much about the name to be honest.

[2016-03-23 15:22] shellscape commented on #54
:+1:  just wanted to put it on the radar

[2016-03-23 15:26] shellscape commented on #50
`raws` in postcss does have several optional properties that will exist based on the situation or node type, and data for that node. going with that pattern, having the quotes represented in `raws` would seem to be acceptable on the surface.

I think the `quoted` property would be great, but is still limiting. For our use-case, we're using this with a LESS linting toolset (lesshint) and need to kn

[2016-03-23 15:56] ben-eb commented on #50
With this proposed change you could also do this:

[code]

[2016-03-23 16:17] shellscape commented on #50
sure, that'd work as well.

[2016-03-23 16:31] ben-eb commented on #50
OK. PR welcome for this. :+1:

[2016-03-23 16:54] shellscape commented on #50
I'm working on a complete rewrite of postcss-value-parser (based on this project) at the moment. If no one gets to this by the time I finish, I'll give it a shot.

[2016-03-24 13:08] #44 closed

[2016-04-10 15:18] clentfort opened #58 "Release version 2.0"
Is there an ETA when version 2.0 will be push to npm? The docs are ahead of the currently released version. This lead to some confusion on my side why `walk` etc were undefined on the containers.

[2016-04-10 15:25] ben-eb commented on #58
Not until the issues in the milestone are resolved.

https://github.com/postcss/postcss-selector-parser/milestones/2.0

[2016-04-11 14:28] clentfort commented on #14
[1]: https://www.w3.org/TR/css3-selectors/#negation

[2016-04-16 17:04] #50 closed

[2016-04-17 15:19] shellscape commented on #50
thanks @davidtheclark and @ben-eb

[2016-04-27 12:06] evilebottnawi opened #61 "it is bug or not?"
https://github.com/stylelint/stylelint/issues/1153
[code]
Output:
[code]

[2016-04-27 13:29] ben-eb commented on #61
It's not a valid CSS selector string, as referenced here; https://github.com/postcss/postcss-selector-parser/commit/0a14cc8e5d698bdd0038fefd4762303c7e0d27e6. The parser is complaining about the space in between the `:` and `grayscale` as it thinks it should be parsing a pseudo element.

[2016-04-27 13:29] #61 closed

[2016-04-27 13:46] #54 closed

[2016-04-27 13:51] ben-eb commented on #58
I think we're almost there, just waiting for some confirmation on https://github.com/postcss/postcss-selector-parser/pull/35.

[2016-05-03 16:57] ben-eb commented on #58
Done. https://github.com/postcss/postcss-selector-parser/commit/1b204ce18de12172ef57aec8682f8d503b54deb3

[2016-05-03 16:57] #58 closed

[2016-05-03 20:27] stickel opened #64 "Error thrown when using nested Sass property syntax"
I'm running into this error message when I call `stylelint` on uncompiled Sass files in my project. `stylelint` uses `postcss-scss` which in turn uses `postcss-selector-parser`.

[code]

After some digging, the error occurs when a Sass stylesheet has the following syntax:

[code]

Which compiles to:

[code]

The same error occurs with `font: { size: 12px; weight: bold; }` (and likely other nested

[2016-05-05 16:33] clentfort commented on #14
@davidtheclark I'm currently working on a selector parser that supports plugins for function calls, so it can differentiate between a call to `:not`, `:nth-child` etc. It's a bit more heavy weight than this parser but should be easier to extend. So far its only a parser, so only an AST is generated and it does not provide ways to manipulate the AST (or to reprint it to CSS). You can take a look at

[2016-05-07 23:17] davidtheclark commented on #14
Thanks for the heads up, @clentfort.

[2016-05-20 09:27] jacobp100 opened #66 "Async support"
If the function passed to `parser` returns a promise, it would be good to await that promise, and return a promise with the result.

The example in the readme would then become,

[code]

_Should_ be backwards compatible.

[2016-05-20 09:45] jacobp100 commented on #66
https://github.com/postcss/postcss-selector-parser/pull/67

[2016-06-02 11:58] s10wen commented on #64
Looks like this issue was closed, but I'm also getting it: https://github.com/stylelint/stylelint/issues/1386#issuecomment-223266044

[2016-06-02 12:16] ben-eb commented on #64
The reason that this throws is because for example `a:` is not a valid CSS selector (whereas `a:before` *is*); this module expects to receive one or many CSS selectors and does some basic validation to ensure that a selector is valid. It's kind of related to https://github.com/stylelint/stylelint/issues/1153.

[2016-06-02 12:18] s10wen commented on #64
Thanks @ben-eb I'm specifically using `stylelint` for `.scss` files. Can you point me in the direction of a solution?

[2016-06-02 12:29] ben-eb commented on #64
I believe this should be handled in stylelint; I have done the same thing with postcss-minify-selectors, in which I handle the case where a property ends with a colon;

https://github.com/ben-eb/postcss-minify-selectors/blob/master/src/index.js#L15-L19

[2016-06-02 12:35] s10wen commented on #64
thanks @ben-eb I'll take a look.

[2016-06-24 11:55] evilebottnawi opened #71 "`attribute.quoted` wrong value with spaces"
It is valid CSS:
[code]
But we get
[code]
https://github.com/stylelint/stylelint/pull/1506
Thanks for `postcss-selector-parser` :smile:

[2016-06-29 03:06] texastoland commented on #28
Has this behavior changed any in `2.x`? I'm receiving the same error in `1.3.3` via `postcss-pseudo-class-any-link` using cssnext and trying to sort out where to PR.

[2016-07-11 09:53] ntwb commented on #71
This can be closed now

[2016-07-11 09:55] evilebottnawi commented on #71
@ntwb yes :smile:

[2016-07-11 09:55] #71 closed

[2016-07-26 00:08] adam-26 commented on #7
Hi @ben-eb, has there been any progress on this? If not, do you have any guidance on how would you implement it? I require this functionality, maybe I can submit a PR.

[2016-07-26 02:34] AceLeeWinnie opened #80 "Error throw when using UglifyJsPlugin with webpack"
When I compress package in product environment,  a error message thrown.

I wonder if any the css file minify or uglify twice and result the error.

[2016-07-26 13:26] ben-eb commented on #7
@adam-26 No, if you would like to take this issue it would be appreciated! My idea was basically to skip adding *insignificant* spaces and raw properties to the AST in this mode, so for example these lines would not be executed;

* https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L83
* https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L296
* h

[2016-07-28 13:50] adam-26 commented on #7
Hi @ben-eb, postcss-minify-selectors does most of what I require without having to modify the parser, which is great. Thanks for posting the link, and thanks for all the work on postcss :)

[2016-08-04 16:30] Semigradsky commented on #5
Looks like many of this methods not represented in [API](https://github.com/postcss/postcss-selector-parser/blob/master/API.md)

[2016-08-04 17:48] Semigradsky opened #82 "node.spaces is broken"
[code]
Console output:

---
postcss-selector-parser: 2.1.1

[2016-08-04 17:55] Semigradsky opened #83 "Can't create selector with spaces"
[code]
Console output:

---
postcss-selector-parser: 2.1.1

[2016-08-05 09:05] Semigradsky commented on #82
Oh, I understand - selector is not `node`. Spaces exists in tags. Not in selectors.
[code]
Console output:

[2016-08-05 09:05] #82 closed

[2016-08-05 09:06] Semigradsky commented on #82
Nevertheless, it would be more logical to add spaces to selector, not to tag.

[2016-08-05 09:09] Semigradsky commented on #83
And I can't add nodes with spaces:
[code]

[2016-08-06 16:49] ben-eb commented on #7
Fixed by https://github.com/postcss/postcss-selector-parser/pull/81#issuecomment-238033015.

[2016-08-06 16:49] #7 closed

[2016-08-12 16:01] thomasklein commented on #5
Also not working. Trying
`
parser(function (selectors) {
      selectors.eachUniversal(function (selector) {});
});
`
However I end up with a TypeError `selectors.eachUniversal is not a function`
Using postcss 5.1.2 and postcss-selector-parser 2.2.0.

[2016-08-12 17:06] ben-eb commented on #5
Guys, this is a year old *closed* thread discussing the *original* API. This was back when postcss 4 was out and I wanted to mirror that API. We're now on a more PostCSS 5-like API; check out the docs here - https://github.com/postcss/postcss-selector-parser/blob/master/API.md

[2016-08-13 16:51] pascalduez opened #86 "Inserting inside iterators"
Hi,

trying to insert a new selector node inside a container while looping over it seems to stop the loop.

[code]

Expected:

[code]

Result:

[code]

Is this intended?

[2016-08-26 18:13] #83 closed

[2016-08-29 08:21] ideadapt commented on #2
Hi

I think `h1:not(.heading, .title, .content)` is not valid css syntax. According to https://www.w3.org/TR/css3-selectors/#negation only one simple selector is allowed as argument to :not.

Ref: See https://github.com/postcss/postcss/issues/872

[2016-08-29 10:04] ben-eb commented on #2
In level 4 of the spec, this was changed to accept a selector list.

https://drafts.csswg.org/selectors-4/#negation

[2016-09-01 22:26] eramdam opened #89 "Selectors with ";" are badly parsed or causes the parser to stuck"
The parser hangs up when trying to parse those two selectors:

[code]

These two are valids selectors so I guess they should be parsed correctly. Or at least throw an error.

Happy to give details if needed

[2016-09-22 01:23] michaelkdh opened #90 "Quick question: does it support grunt-postcss?"
Trying to rename every single class name with a prefix, any advises?

[2016-11-03 22:08] ben-eb commented on #80
Hi,

This error is thrown when there is an extra closing square bracket `]` is encountered (and the parser hasn't found the opening square bracket `[` to "close" the pair). I think you have a syntax error in your original CSS file.

[2016-11-03 22:10] ben-eb commented on #90
Hi,

This is a utility intended to be used by a PostCSS plugin - it isn't itself a PostCSS plugin. But you could use this module *in* a PostCSS plugin to achieve this. 😄

[2016-11-08 09:35] AceLeeWinnie commented on #80
But in other environment, there's no error thrown.  I wonder if the file compressed twice.

[2016-11-08 11:17] ben-eb commented on #80
I'm not sure exactly; I would need more information on how this is happening. It would be really useful if you could put together a sample repository that exhibits this issue. :smile:

[2016-11-08 12:18] xuyuanxiang commented on #28
@morishitter

[code]

I've just to move `postcss-pseudoelements` before `postcss-cssnext`.  It works...

[2016-11-08 17:00] ben-eb commented on #89
Hi @eramdam,

I've tried this and these selectors don't fail the tests (or hang the parser), see this commit:

https://github.com/postcss/postcss-selector-parser/commit/4104b414af929be4cc3f8f2557306741e645819d

Do you have something that can exhibit the problem?

[2016-11-08 17:09] ben-eb commented on #86
Hi,

I think this might be a bug, but I'm not sure of the source of the issue to be honest. 😕

[2016-11-08 17:31] eramdam commented on #89
Hey @ben-eb!

I can reproduce the issue with this snippet

[code]

[2016-11-08 19:39] ben-eb commented on #89
@eramdam Ah, I see. In JavaScript the backslash is the escape character, so if you want a literal backslash you always have to double that up (like I did with the tests). But I think that we should throw an error when an unescaped semicolon is encountered, as it is a syntax error. How does this sound?

Thanks!

[2016-11-08 22:11] pascalduez commented on #86
Hey,

all right, I will try to dive a bit more in when working back on the project involved with it.

[2016-11-10 03:54] eramdam commented on #89
@ben-eb well that's much better to me than a stuck process so I'm all in :)

[2016-11-10 15:29] #89 closed

[2016-11-10 15:45] ben-eb commented on #89
Released in `2.2.2`.

[2016-11-13 05:41] michaelkdh commented on #90
Yes, it does

[2016-11-13 05:43] michaelkdh commented on #90
Thanks Ben, that's exactly what i did, cheers.

[2016-11-23 14:12] thybzi opened #99 "Fails at LESS @when syntax with comma"
I'm using Stylelint with minimal config like the following ```{ "rules": { "no-browser-hacks": true } }```
This check uses `postcss-selector-parser` module

When linting the following LESS file:
[code]

I'm getting the error:
[code]

Seems to be `postcss-selector-parser` (not `stylelint`) bug.

If you need any additional info, I'll try to provide it.

[2017-02-10 14:01] adam-26 opened #102 "Nested selector bug in lossy mode"
#7 Introduced a bug in lossy mode.

It removes a 'space' combinator after a nested '&' token.

So '& .class' is parsed to '&.class', note the removal of the space.

I'll submit a PR.

[2017-02-23 18:05] #102 closed

[2017-03-22 09:32] blowsie commented on #80
I think the node version my impact this

[2017-04-04 02:35] ai opened #104 "Better syntax errors"
[Current syntax error](https://github.com/facebookincubator/create-react-app/issues/1926) are not so welcome as in PostCSS core. If we will generate postcss’s `CssSyntaxError`, it will be much better (with code frame and source map support).

@ben-eb If you don’t have time, I can send guys from Cult of Martians, just write short instruction where to look.

[2017-04-04 10:48] ben-eb commented on #104
You are correct, I have enough to do. 🙂

Problem with code frame is that we only parse the selector string, but there are better ways of showing this. I haven't merged this PR because it isn't as useful as a formatted error: https://github.com/postcss/postcss-selector-parser/pull/35

[2017-04-13 19:46] tivac commented on #86
Replacing inside iterators is also broken.

https://repl.it/HIvF/3

I'm looking into why, seems like `.each()` is getting cranky.

[2017-04-18 11:31] evilebottnawi opened #106 "Support reference combinators"
Ref: https://github.com/stylelint/stylelint/issues/2506. I can do PR if your accept.

[2017-04-18 12:30] ben-eb commented on #106
Right now I'm focusing on PostCSS 6 work so I don't have much time to look into this. https://github.com/postcss/postcss-selector-parser/pull/105#issuecomment-294365917

[2017-04-25 08:45] xilixinluo commented on #28
@xuyuanxiang  this "postcss-pseudoelements" fixed myfault ,thank you a lot~

[2017-04-26 09:35] chriseppstein commented on #86
I hit this today and it tripped me up for a while. Was able to work around by saving references and doing mutation after the iteration was over.

[2017-04-26 16:32] tivac commented on #86
@chriseppstein yeah, that's what https://github.com/tivac/modular-css/pull/278 is doing. Hopefully @ben-eb can find some time to check out #105 and get that merged (if it's good) before too much longer.

[2017-05-01 07:51] svipben opened #108 "Error: Unexpected "space" found"
Hello,

I get this error:
`
messageService.ts:126Error: Unexpected "space" found.     at new error (/home/svipben/.vscode/extensions/shinnn.stylelint-0.24.0/node_modules/postcss-selector-parser/dist/processor.js:29:23)     at Parser.error (/home/svipben/.vscode/extensions/shinnn.stylelint-0.24.0/node_modules/postcss-selector-parser/dist/parser.js:234:15)     at Parser.pseudo (/home/svipben/.vscode

[2017-05-18 15:07] jwilsson opened #109 "Handling of Less interpolation"
Hi!
I don't know if this might be out of scope but ID and class selectors containing [Less Variable Interpolations](http://lesscss.org/features/#variables-feature-variable-interpolation) is parsed a bit oddly. It's picking up the ID/class but then treats the rest as a tag.

For example:
[code]

gives this AST:
[code]

Note the first `ClassName` with an empty `value` and then a `Tag` with the rest

[2017-06-01 11:15] ben-eb commented on #109
Alright, we can look into doing a new major version. 👍

[2017-06-01 11:16] ben-eb commented on #106
Alright, we can look into doing a new major version. 👍

[2017-06-01 11:31] evilebottnawi commented on #106
@ben-eb oh, forgot, we don't should be directly support `/deep/`, now it is deprecated, but be good support `/some/`, it is reference combinators

[2017-06-22 14:44] ben-eb commented on #106
@evilebottnawi Are you still willing to send a pull request? 😄

[2017-06-22 17:56] evilebottnawi commented on #106
@ben-eb No time now :disappointed:  I can start this later.

[2017-07-04 01:36] ben-eb commented on #106
@evilebottnawi I'd like to get 3.0 out this week, is this support critical for your use case? If so it'd be great if you could send a patch to the 3.0 branch.

https://github.com/postcss/postcss-selector-parser/tree/3.0

[2017-07-04 07:24] jeddy3 opened #111 "toString for qualified id with a namespace"
When `toString()`ing a selector containing a id selector that is qualified by a type selector _which has a namespace_, the namespace is seemingly added before the id selector. I think that's the correct terminology, I was quite sure how to describe it :)

With:

[code]

Expected Result:

[code]

Actual Result:

[code]

Is this the intended behaviour? I have to admit I'm not very familiar with name

[2017-07-05 10:14] evilebottnawi commented on #106
@ben-eb not critical, we have workaround for this in `stylelint`

[2017-07-06 15:59] ben-eb commented on #111
It's not intended, but will be fixed in 3.0. Thanks for reporting! 😄

[2017-07-07 13:08] ben-eb commented on #108
Hello,

This is due to the parser not finding anything after a colon, and is supposed to warn you of these invalid cases (amongst others):

[code]

What is happening here is that your linter might be a little eager to run before you had a chance to fill in the rest of the selector string (thus, unexpected space). If there's an option to delay the checking by some `ms` value then I'd try that. But

[2017-07-08 15:19] ben-eb commented on #99
OK so I've had a chance to look at this now, the problem is that the value enclosed in parentheses doesn't neatly fit into the idea of CSS selectors as the parser understands it. You can see this if you remove the rest of the string:

[code]

Produces the following tree:

[code]

You can see that ` (@a = 5)` is being parsed as a *combinator* node, due to the space token. Adding proper support for

[2017-07-13 11:50] azz opened #112 "Line comments are not parsed correctly"
Inputs such as the following don't seem to be parsed correctly:

[code]

Instead of being parsed as a `comment` node, they are being parsed as `tag`/`combinator`s.

[code]

Does this parser support Less/SCSS comments?

[2017-07-13 20:54] ben-eb commented on #112
No current support, I'm not a Less user nor do I have any contributors that are. 😄

https://github.com/postcss/postcss-selector-parser/issues/99#issuecomment-313862274

[2017-07-14 22:57] stepancar opened #113 "Why each method is too complex?"
Hello, thank you for this Project
I have question
https://github.com/postcss/postcss-selector-parser/blob/4ea800d17fb120db02388c65bd45e990f688dbb7/src/selectors/container.js#L105
why its so complex?
why not just this.nodes.foreach ?
Also, see https://github.com/postcss/postcss-nested/pull/57
This issue relates to each method implementation.

[2017-07-16 12:05] #109 closed

[2017-07-16 12:05] #111 closed

[2017-07-16 12:16] ben-eb commented on #108
https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0

[2017-07-16 12:16] #108 closed

[2017-07-16 12:16] ben-eb commented on #104
https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0

[2017-07-16 12:16] #104 closed

[2017-07-16 12:16] ben-eb commented on #80
https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0

[2017-07-16 12:16] #80 closed

[2017-07-16 12:16] ben-eb commented on #66
https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0

[2017-07-16 12:16] #66 closed

[2017-07-16 12:19] ben-eb commented on #86
https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0

[2017-07-16 12:19] #86 closed

[2017-07-16 12:24] ben-eb commented on #113
`each` allows you to maintain iteration whilst changing the length of the `nodes`, so it's not equivalent to `forEach`. If we swap the implementation you can see that these tests fail:

* https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/container.js#L17
* https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/container.js#L45

[2017-07-16 12:24] #113 closed

[2017-07-16 12:33] stepancar commented on #113
@ben-eb, thank you for your answer. Could you please give a look to https://github.com/postcss/postcss-nested/pull/57 .

[2017-07-16 16:19] ben-eb commented on #113
Did you try the tests against the original code? Note that it's OK to have more than one way of doing things, this is the nature of programming & abstractions.

[2017-07-23 22:31] ai opened #114 "Wrong stringifying of namespaced tag and selector"
Origin issue: https://github.com/postcss/postcss-nested/issues/60

Current behavior:

[code]

Expected behavior:

[code]

[2017-07-23 23:32] ben-eb commented on #114
I think it's this issue? https://github.com/postcss/postcss-selector-parser/issues/111

[2017-07-23 23:33] ai commented on #114
Yeap :) ETA of 3.0?

[2017-07-23 23:44] ben-eb commented on #114
I'd like stylelint to report any issues they have and then we can cut 3.0. https://github.com/stylelint/stylelint/issues/2757

[2017-07-23 23:44] #114 closed

[2017-08-15 07:12] andyjansson opened #115 "Unexpected attribute parse behaviour in 3.0.0-rc.0"
One of our users reported an issue with the [new alpha of cssnano](https://github.com/ben-eb/cssnano/issues/400). Upon examining the issue more closely I discovered that it fails on the following [selector from the `angular-material` package](https://github.com/angular/material/blob/72d068593b7f353d32f8308870d2b0d1c7c759c9/src/core/services/layout/layout.scss#L5):

[code]

This seems to have to do

[2017-08-19 16:11] nonlux opened #116 "Error: Expected closing parenthesis."
I try to  minify [normalize.css](https://github.com/necolas/normalize.css). And my build fail with error:
[code]
I debug and find bad selector: `svg:not(.\:root\)`
normalize.css code:
[code]
I remove it and build done.

After that I split code into two files.
 - normalize.css (with out svg rule)
 - additional.css (only svg rule)
Build done.

[2017-09-17 14:38] EECOLOR opened #118 "Operator parsed incorrectly in 3.0.0-rc0"
`[title ~= "flower"] { }` result in the operator being parsed as `~= ` (a space at the end).

One of the issues from: https://github.com/stylelint/stylelint/issues/2757

[2017-09-17 15:21] EECOLOR opened #119 "Value `#{$variable}` parsed incorrectly in v3.0.0-rc0"
`[class^=#{$variable}] { }` result in the `value` and `raws.unquoated` being parsed as `#{`.

One of the issues from: stylelint/stylelint#2757

[2017-10-23 06:01] chriseppstein commented on #119
This is non-standard syntax.

[2017-10-23 06:01] #119 closed

[2017-10-23 06:02] chriseppstein commented on #118
Fixed in c1a6d6023e4af4bf34bdf5212fec8f2d93be4463

[2017-10-23 06:02] #118 closed

[2017-10-23 06:11] chriseppstein commented on #116
I can't reproduce this issue: https://github.com/postcss/postcss-selector-parser/commit/2ff28b591ea960ffd8d3f74652df1348b374c913

[2017-10-23 06:11] #116 closed

[2017-10-23 06:24] #112 closed

[2017-10-23 06:30] EECOLOR commented on #119
@chriseppstein I appreciate your response and probably agree with you. The previous version of this library however supported this syntax. So if the goal is to only support standard syntax, I think it's best to mention in the README that for the new version.

[2017-10-23 06:43] chriseppstein commented on #106
The reference combinator has been removed from the latest editors draft of the css-selectors level 4, specification.

https://drafts.csswg.org/selectors-4/

[2017-10-23 06:43] #106 closed

[2017-10-23 06:44] #90 closed

[2017-10-23 06:44] EECOLOR opened #121 "Parsing not compliant with the spec"
[A line from the tests](https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/attributes.js#L10) that shows the of result parsing an attribute:

[code]

[Another line from the tests](https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/attributes.js#L244) that shows the of result parsing a value:

[code]

In the above examples the spaces are included

[2017-10-23 06:44] #99 closed

[2017-10-23 06:45] #64 closed

[2017-10-23 06:47] chriseppstein commented on #36
Added in 783e2eca39dcefa6b9bba07c2e5feb3558478116. Thanks @davidtheclark

[2017-10-23 06:47] #36 closed

[2017-10-23 06:47] #30 closed

[2017-10-23 06:47] EECOLOR commented on #121
I forgot to mention that the parser for operator was changed in response to this issue: https://github.com/postcss/postcss-selector-parser/issues/118

[2017-10-23 07:14] chriseppstein commented on #14
the `:nth-XXX()` pseudo classes have a microsyntax https://drafts.csswg.org/css-syntax/#anb-microsyntax.

The general syntax is `An + B of S` where `A` is a signed or unsigned integer and `B` is an unsigned integer, where the `+` can also be a `-`. and `S` is a selector list as is currently expected by the parser.

I suggest that any psuedo with parens starting with `:nth` be parsed according to t

[2017-10-23 07:17] chriseppstein commented on #121
Agree. this is wrong.

[2017-10-23 07:21] chriseppstein opened #122 "Attribute raw values override changes to the original."
If an attribute's operator is changed without changing the corresponding raw attribute, then the stringification of the selector will appear unchanged. Similarly if an attribute node is changed from case insensitive to normal.

Expected: changing canonical values clears the corresponding raw value.

Work-around: dev must set unset the raw value manually.

[2017-10-23 07:42] EECOLOR commented on #122
You also could adjust the behavior of stringification. I would not be suprised if a "selector parser" would have a toString method that would remove excessive whitespace and other formatting. It seems to me (but I am very naive as to the actual uses) that a "selector parser" is mostly used for parsing and will probably not be blamed if it had a to string function that removed formatting.

[2017-10-23 23:17] chriseppstein commented on #121
Fixed by 872559f545f75f9220e627ec53d7602082eed5ae

[2017-10-23 23:17] #121 closed

[2017-10-24 06:38] EECOLOR commented on #121
@chriseppstein Wow, that is some serious piece of work. Thanks!

[2017-10-24 08:03] chriseppstein commented on #122
@EECOLOR I made it work correctly for the main attribute values. For now, devs who want to muck with the spaces can dig in a bit. And I agree, I think whitespace handling is an output operation, but it is currently handles during parsing. I probably won't do much more on this front for a while.

Fixed by e35949fa7619a4d51bf4f10b170344c3dc98efa8

[2017-10-24 08:03] #122 closed

[2017-10-24 17:32] chriseppstein commented on #115
There's some issue in escape handling in the selector parser. it's also not clear to me that characters that need to be escaped are properly escaped in output of css, so just being able to parse this may not be enough because we need to be able to round-trip. -- maybe postcss itself takes care of the escaping, I'm not sure. If so, it should probably own the unescaping as well before postcss-select

[2017-10-24 17:33] chriseppstein commented on #115
@ai I'm not familiar with how postcss handles escaping/unescaping -- plz advise.

[2017-10-24 17:35] ai commented on #115
Is `\` a universal escape symbol in CSS?

CSS has a different was to escape `\ 22` any symbols.

For this case, I think, we should check how browser parses it.

[2017-10-24 17:53] chriseppstein commented on #115
@ai yes. CSS has a generalized escape syntax that can be used just about anywhere and ident or string can appear.

https://mathiasbynens.be/notes/css-escapes is a good writeup on it.

Sass unescapes all characters during parse and then escapes them during stringification so that the AST is always in the domain of UTF-8 encoding -- but sass always parses the entire document -- not true for postcss

[2017-10-24 17:55] ai commented on #115
PostCSS handles escaping for `{`, `(` and another document syntax. But value and selectors are not parsed.

What API do you suggest?

[2017-10-24 18:27] chriseppstein commented on #115
@ai My preference is that if there's any escape in the source string, postcss would unescape it for the primary value that devs interact with. I think this is the most dev friendly use case and would cause the fewest bugs overall -- but it may be a considered a breaking change depending on your philosophical stance about what constitutes a breaking change.

In this api, any value with an escape se

[2017-10-24 18:29] ai commented on #115
Sure. We can add it.

Second question: do we have universal escape logic. Will this escape is standard? Will it work in values?

[2017-10-24 18:38] chriseppstein commented on #115
@ai css escapes are the same in all places where an ident or string can be found but you can't use an unicode escape to mean a css sigil that is meaningful to the parser -- it would always treat that character as part of an ident or string sequence.

https://www.w3.org/TR/css-syntax-3/#escaping

[2017-10-24 18:47] ai commented on #115
OK. I will think about it after ReactiveConf. It could take few weeks. As quick fix you can add some `escape(value)` function.

[2017-10-24 19:02] chriseppstein commented on #115
@ai hmmm. maybe postcss can't handle escaping with its current api. I'm thinking about some use cases where it would be impossible for it to decide what to do. Sass handles this by exposing fine-grained ast objects for values and in selectors but postcss lacks this.
E.g. postcss really cannot decide if a property set to `"foo"` is a string `foo` or an ident containing escaped quote values. I suspe

[2017-11-02 06:40] nonlux commented on #116
On next week I try to create test case for this.

[2017-11-20 14:15] Morishiri opened #124 "Cannot read property 'value' of undefined"
Hi,

While executing `lesshint` (`gulp-lesshint` to be exact) I managed to get this kind of error:
`Error: TypeError: Cannot read property 'value' of undefined`

The problem is that this is really huge project and I cannot separate the case where this happens so I can't provide minumum reproductible example.

I managed to find the place where error probably occures in `parser.js` file.

It's here:

[2017-12-20 09:36] foreverzmy opened #125 "selector.insertAfter(selector, parser.attribute(attribute: 'xxx')); will undefined!"
selector.insertAfter(selector, parser.attribute(attribute: 'xxx'));!
the attribute change to _attribute, make the css selector become undefined.

os: win10
version: 3.1.1

[2018-01-19 12:21] evilebottnawi commented on #115
@ai friendly ping, what is status?

[2018-01-19 12:23] ai commented on #115
It can’t be solved in the core in next month (moving to US, crazy time). Solve it temporary in this parser.

[2018-01-20 16:57] pmdartus opened #126 "Type definition and sync processing"
The type definition doesn't work properly with the example given in the Quick Start

[code]

While async methods on parser are properly typed, all the sync methods throw a type error, because they expect a `never` type. In the meantime, it's possible to cast the parser to `parser.Processor` to avoid running into this issue.

@chriseppstein What do you think about relaxing the types for the sync AP

[2018-01-24 15:25] pmdartus commented on #125
Hi @foreverzmy, I am not sure to understand the issue here.
Can you share a minimal snippet of code with the issue that you are facing?

[2018-01-24 15:42] pmdartus commented on #124
Hi @Morishiri,

I was able to reproduce the issue if you are trying to parse a selector starting with a `(`. For example:

[code]

[Live example](https://runkit.com/pmdartus/postcssselectorparser-issues-124)

[2018-01-24 18:58] Morishiri commented on #124
Wow, great job. I will look for something like this in my project and I will confirm if it is the case there. I will come back with an answer tomorrow (in about 12 hours)

[2018-02-14 23:17] ZeeCoder opened #129 "Browser support"
Based on: https://github.com/postcss/postcss-nested/issues/71

Basically, postcss-nested cannot be used in browsers not supporting es6, because it depends on this package, which in turn depends on the node-specific "dot-prop" package.

**My question is:**
Is this module meant to be working in browsers?

If yes, then dot-prop would probably have to be replaced, as I don't see Sindre changing his pa

[2018-02-15 10:08] evilebottnawi opened #130 "nest at rule with namespace and selector buggy"
Input:
[code]

Ast:
[code]

Seems we have `nesting` and `namespace`.

Ref: https://github.com/jonathantneal/postcss-nesting/blob/master/test/ignore.css#L34

[2018-02-18 13:11] ZeeCoder commented on #129
@ben-eb @chriseppstein ?
Not sure who to ping tbh

[2018-02-20 13:40] orblazer commented on #125
Hello i continue this issue because i have the same bug.

The code (from [Fuse-Box > PostCSSPlugin#L23](https://github.com/fuse-box/fuse-box/blob/master/src/plugins/vue/PostCSSPlugins.ts#L23)) :
[code]

This code is based from [VueLoader > scope-id.js#L20](https://github.com/vuejs/vue-loader/blob/master/lib/style-compiler/plugins/scope-id.js#L20).

This is produce `undefined` selector.
Eg: `.error

[2018-02-20 13:51] orblazer commented on #125
Ok i am stupid i have found the problem.

My implementation is wrong.
i have `.process(node.selector).result` but the correct is `.process(node.selector).then((result) => ...)`

[2018-02-20 19:01] donotknow commented on #124
I can reproduce this issue with multiple comma separated media queries, for example, here is a failing test case (for [lossy.js](https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/lossy.js#L79)):

[code]

[2018-03-01 16:39] evilebottnawi commented on #130
@ai Can i get invite in this repo to allow fix bugs occurring in `prettier` and `stylelint`. I set you as reviewer before merge :+1:

[2018-03-01 16:41] ai commented on #130
I am not the maintainer. Ask @chriseppstein.

[2018-03-21 08:51] evilebottnawi commented on #130
@chriseppstein friendly ping

[2018-03-21 08:52] evilebottnawi commented on #115
@ai friendly ping, it is one problem what stop `prettier` don't use `3` version

[2018-03-21 17:35] ai commented on #115
@evilebottnawi can you remind me what we need to change in PostCSS core?

[2018-03-21 17:43] evilebottnawi commented on #115
@ai solve this problem :smile: looks problem with escaping need more deep investigate, contributors unavailable, i put all failing tests here and investigate where we should fix problem. Also i have couple fixes . If contributors still unavailable, can you review and release new version? If you want i can maintain this project, `prettier` and `stylelint` need this package.

[2018-03-21 17:50] ai commented on #115
@evilebottnawi contributors is not a problem. I can use the power of out Cult of Martians. But in this case, we will put escaping to the parser. Putting it to the core is dangerous and requires more time to think.

I will make Cult of Martians task this Friday.

[2018-03-21 17:56] chriseppstein commented on #115
I can fix this in the selector parser. After thinking about it, I don't think it's fixable in core without making this module part of the core and in that case I still have to fix it.

I have a few other patches to get out. I'll take a swing at this today.

[2018-03-21 17:59] chriseppstein commented on #115
@ai do you know if there is there any escaping/unescaping utilities in postcss or as an npm module  that I can use? 🤔

[2018-03-21 18:02] ai commented on #115
@chriseppstein nope, I do it my self directly in the parser. But I think there should be modules.

[2018-03-22 03:05] chriseppstein commented on #115
Unfortunately I didn’t get a chance to work on this today. 😔

[2018-03-22 19:41] #126 closed

[2018-03-22 19:44] chriseppstein commented on #126
A synchronous function passed to parser was being incorrectly inferred to be async.

[code]

The fix was to change this to:

[code]

Then synchronous processor functions resolve to the correct override and can call `processSync`.

[2018-03-22 19:46] chriseppstein commented on #129
Fixed by 92c0766f8cdb0aa3ffe39a67eaf200c875e23831

[2018-03-22 19:46] #129 closed

[2018-03-22 19:47] chriseppstein commented on #125
Yeah, this bit me too.

Fun fact: with the new typescript definitions, if you have a typescript project, this sort of issue is immediately obvious ^_^

[2018-03-22 19:47] #125 closed

[2018-03-22 22:48] chriseppstein commented on #130
@evilebottnawi how can I help you?

[2018-03-23 10:04] evilebottnawi commented on #130
@chriseppstein invite, for future fast fix bug for prettier and stylelint :+1:

[2018-03-25 23:24] ai commented on #115
Awesome! You are the best :). Thank for escaping library recommendation.

[2018-03-26 13:31] evilebottnawi commented on #115
@chriseppstein
Problem in 3 version:
1. Don't parser attribute selector with namespace according spec:
[code]
Throw error.
From spec:
[code]
2. Lost non standard modificator in attribute selector:
[code]
Maybe better save this in `raws` :+1:
3. Don't parser attribute selector with function. In 2 version all works fine
[code]
4. Invalid parser selector ending comment
[code]
Output:
[code]
Should do

[2018-03-26 17:28] chriseppstein commented on #115
@evilebottnawi Thanks, I will look into these issues. Did you get a chance to review the new APIs and "escape by default" strategy? Do they look ok to you?

[2018-03-26 23:09] chriseppstein commented on #115
I wrote up a more comprehensive explanation of this effort. Hopefully this will make it easier to discern the planned changes compared to having to suss it out from the diff: https://github.com/postcss/postcss-selector-parser/pull/133

[2018-03-27 08:35] chriseppstein commented on #130
@evilebottnawi sent

[2018-03-27 10:54] chriseppstein opened #134 "Non standard attribute modifiers should not be exposed as insensitive = true."
attribute will need a new property to track non-standard modifiers.

[2018-03-27 11:02] chriseppstein commented on #115
@evilebottnawi

1. An attribute in the default namespace is parsed without error here: https://github.com/postcss/postcss-selector-parser/blob/escape-handling/src/__tests__/namespaces.js#L53 If you are getting an error on this branch, please file a new issue with details.
2. I got non-standard attribute modifiers working in 7b49c55, but I want to follow up with a [small api change](https://github.

[2018-03-27 11:08] evilebottnawi commented on #115
@chriseppstein
1. add spaces (newlinews) before `[` and after `]`.
3. it is part of tests of prettier, o don't know who use function inside in `attribute` selector. Maybe postcss have plugin for this :confused:

[2018-03-28 22:40] chriseppstein commented on #115
@evilebottnawi ok. thanks, I reproduced and fixed the spaces before the namespace prefix.

regarding the function as a bare value: I'm not going to support that syntax without a really great reason and to do so. And I'd need to have a much greater understanding of what is going on. I understand that this will be a regression for some number of users. I guess that will be needed as a  forcing funct

[2018-03-29 09:37] evilebottnawi commented on #115
@chriseppstein i just remove invalid tests :+1:

[2018-03-29 22:51] chriseppstein opened #135 "API to return whether a selector has non-standard syntax."
1. add a strict parse mode so that any non-standard syntax is an immediate error.
2. When not strict, it should be possible to find which nodes contain non standard syntax and for complex nodes like Attribute, which part(s) are violating the css spec.

[2018-03-30 00:29] #124 closed

[2018-03-30 00:29] #130 closed

[2018-03-30 00:32] chriseppstein commented on #115
#133 has landed on master and many issues relating to escapes are sorted out now.

[2018-03-30 00:32] #115 closed

[2018-03-30 00:34] chriseppstein opened #136 "Update API.md"
New APIs added in #133 need to be documented in `API.md`

[2018-03-30 09:20] evilebottnawi commented on #135
@chriseppstein Also maybe we can support non standard comments `//`?

[2018-03-30 18:40] ZeeCoder opened #137 "v4 re-introduces uncompiled es6 (cssesc dep)"
The new `cssesc` dep in v4 is uncompiled, same way `dot-prop` was previously.
Not sure what the best approach would be to keep browser compatibility, I assume the new dep cannot be dropped just like that. 🤔

[2018-03-30 18:42] ZeeCoder commented on #137
Onthe flip-side, I've tested postcss-nested with v4, and all tests pass fine 👍

[2018-04-13 18:48] chriseppstein commented on #137
@ZeeCoder As I understand it, the consuming app will still need to be using a bundler like webpack or rollup to publish for the web and so if cssesc were to compile to es5 with a `"browser"` entry in its `package.json` for that output, would it be sufficient? Alternatively, if the author isn't amenable to that change, I think I can do this in the postcss-selector-parser's `"browser"` field by sett

[2018-04-13 20:07] chriseppstein commented on #137
I made a pull request against `cssesc`, we'll see how that goes. https://github.com/mathiasbynens/cssesc/pull/16

[2018-04-16 08:27] ZeeCoder commented on #137
Thanks!
Yeah I thought this would be harder to do, I like your proposed solutions though in that issue.

The main issue with this is that by default when people compile es5 => es6, they ignore the whole node_modules folder, which in this case means untranspiled code getting into your bundles.
The future is definitely in just compiling everything, always, but as it currently is, it's still unsafe t

[2018-04-17 08:27] maxcorbeau opened #138 "UnhandledPromiseRejectionWarning: Error: Expected a pseudo-class or pseudo-element"
I'm getting the below error when calling `postcss-selector-parser` as grunt task from [grunt-uncss](https://github.com/uncss/grunt-uncss).

[code]
I tested with:

- **nodejs**: `8.11.1` and `9.11.1`
- **postcss-selector-parser**: `3.1.1` and `4.0.0-rc.1` (which I made sure I replaced under `node_modules/uncss/node_modules/postcss-selector-parser/`)

**Any idea how to fix this?**

Thanks

[2018-04-24 10:01] chriseppstein commented on #138
You've got a malformed selector somewhere. Probably there's a colon followed by something that's not an ident.

The error we throw has location information but it looks like uncss is swallowing that part. If they passed the location along it would be much easier for you to debug it.

[2018-04-24 10:01] #138 closed

[2018-04-25 15:12] evilebottnawi opened #139 "Memory leak in 4.0.0 version"
[code]

Also have performance problems, in `2` veersion (maybe related to this leak).

Example:
[code]

[2018-04-26 20:08] chriseppstein commented on #139
What is the steps to reproduce this issue?

[2018-04-26 20:55] evilebottnawi commented on #139
@chriseppstein Just try to parse `Example` above

[2018-04-26 22:14] chriseppstein commented on #139
@evilebottnawi Was your expectation for an error or that this would be parsed into a non-standard selector. there is no test case that covers this illegal syntax in our code.

[2018-04-27 10:47] evilebottnawi commented on #139
@chriseppstein I think better to throw error, not memory problem

[2018-04-27 20:28] brneto commented on #64
So, scss nested properties still not working in stylelint?

[2018-05-04 21:44] chriseppstein commented on #139
Fixed in `5.0.0-rc.0` which was released today.

[2018-05-04 21:44] #139 closed

[2018-05-04 21:44] chriseppstein commented on #137
This was fixed by changes in cssesc.

[2018-05-04 21:44] #137 closed

[2018-05-04 21:45] #136 closed

[2018-05-04 22:57] ZeeCoder commented on #137
🎉

On Fri, 4 May 2018, 22:45 Chris Eppstein, <notifications@github.com> wrote:

[2018-05-06 17:40] duailibe opened #142 "Umbrella issue for Prettier upgrade"
- [x] Attributes with spaces, i.e., `[  foo  |   attr = val   ]`. We currently support that in Prettier, maybe we could drop support?
- [x] Attributes with namespaces and unquoted value, i.e. `a[foo|bar=val]` has `raws: {}`

I'll update as I see more things, just needed a place to keep track.

cc @chriseppstein @evilebottnawi

[2018-05-06 17:43] evilebottnawi commented on #142
Spec around spaces in attribute selector https://www.w3.org/TR/2018/CR-selectors-3-20180130/#grammar

[2018-05-06 17:58] duailibe commented on #142
@evilebottnawi what's your opinion about it?

[2018-05-06 18:03] evilebottnawi commented on #142
1. According spec:
- `[ foo | attr = val ]` is invalid
- `[ foo|attr = val ]` is valid
2. Better wait @chriseppstein answer

[2018-05-06 18:05] chriseppstein commented on #142
@duailibe spaces in attributes should be handled. We have a lot of tests about it. What is the specific issue you are seeing? Can you provide input that fails and how it fails for you?

For the second item, I would not expect that to have any raws value. Why do you consider it an issue?

[2018-05-06 18:07] chriseppstein commented on #142
Ah, yes. Space around the namespace delimiter is not allowed. Good point @evilebottnawi

[2018-05-06 18:07] duailibe commented on #142
@chriseppstein See in [prettier playground](https://deploy-preview-4421--prettier.netlify.com/playground/#N4Igxg9gdgLgprEAuEBtAZhCAfAhjGAJwF4A3XAGwF0ACYAXwB0pUabMd8izLaHnW7LHgIk248eQri+TFmw4iiEicRWTKMunMGKJXQurZqjUrf3lCINbPtFGaJ9WbayQAGhAQADjACW0ADOyKC4hIQQAO4ACmEIwSi4pBB+ACYeIABGhLhgANZwMADK3rl+UADmyEQArnCe5YFwhDDRORUAtrjI6JRNngBWgQAeAEI5+YVFuB1wADLlcD199SClhE2EyOCBwZ7ehOUwAOppMAAWyAAcAAz7EU3HOd7

[2018-05-06 18:11] evilebottnawi commented on #142
[code]
invalid by spec - should be no spaces between `|`

@chriseppstein what do you think about this? I think implement speces between `|` is not diffucult, but it is invalid accroding spec

[2018-05-06 18:12] chriseppstein commented on #142
Did prettier remove the space around the namespace delimiter? If so it would not be a regression for your users, right? (If you did leave it in, it never worked in a browser so this would also help them)

[2018-05-06 18:13] duailibe commented on #142
[Yes](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBtAZhCAfAhjGAJwF4A3XAGwF0ACYAXwB0pUabMd8izLaHnW7LHgIk248eQri+TFmw4iiEicRWTKMunMGKJXQurZqjUrf3lCINbPtFGaJ9WbayQAGhAQADjACW0ADOyKC4hIQQAO4ACmEIwSi4pBB+ACYeIABGhLhgANZwMADK3rl+UADmyEQArnCe5YFwhDDRORUAtrjI6JRNngBWgQAeAEI5+YVFuB1wADLlcD199SClhE2EyOCBwZ7ehOUwAOppMAAWyAAcAAz7EU3HOd7bB3CbpEuehHAAjjV+H5tXCdbpIXoUfogJodPzVQh1TyBcoVChwACKNQg8GWkNWMFwmVO

[2018-05-06 18:17] chriseppstein commented on #142
Providing error for bad syntax is a feature of our parser.

In some cases we offer flexibility beyond the css spec, but I do not this that parsing illegal space adds value from an language extension perspective. I think it is best for this to be an error from our side

[2018-05-06 18:27] duailibe commented on #142
@chriseppstein I did afterwards, and that's what I used to fix one broken case: https://github.com/prettier/prettier/pull/4421/files#diff-855523a43e898c253460fcf0f6e5f2a1

[2018-05-06 19:10] chriseppstein commented on #142
@duailibe what is the black magic by which you're adding commits to my PR? I can't see the commits pushed anywhere

https://github.com/prettier/prettier/pull/4421/commits

[2018-05-06 21:04] duailibe commented on #142
@chriseppstein Yeah, if you enable "Allow edits from maintainers" GitHub lets us push directly to that :)

[2018-05-08 10:09] evilebottnawi opened #143 "Comments node confusing strcuture"
Prettier have some logic around comments, also stylelint want to implement some rules for comments, one big blocker for consistently handle comments and build rules around this is difference format comment node.

Can we use http://api.postcss.org/Comment.html for comment nodes for `5` version. It was very helpful.
With `text`, `raw`, `source` and maybe other properties and method, Thanks!

Off top

[2018-05-09 06:10] ai commented on #143
We can keep current selector API and fix it when we will move selectors parser to the core

[2018-05-09 08:48] evilebottnawi commented on #143
Thanks! Close in favor https://github.com/postcss/postcss-selector-parser/issues/143#issuecomment-387630850

[2018-05-09 08:48] #143 closed

[2018-05-09 09:08] chriseppstein commented on #143
On the bright side, these locations for comments seem like they're not the sort of place where most devs would add a comment.

[2018-05-10 14:41] evilebottnawi commented on #142
@chriseppstein List of changes and problems:
1. `.parent    ~` (and any combinatorics ) throw error as invalid selector. in `2` version it is works.
[code]

We can't handle this selector :disappointed: maybe we can reflex parser in this places?

2. `a[id=func("foo")]` doesn't parsed, but we already have discussion about this, we just output this as is in code without trying formation.

3. `html[la

[2018-05-11 00:40] chriseppstein commented on #142
@evilebottnawi

1. `.parent ~` -  Seems reasonable to support this. Is this about the `~` or the fact that it ends in a combinator?
2. yeah, I can't support that selector until someone can explain why it exists and what it means. is there a specific framework that uses it? Even if I was inclined to add support for it (I'm not at the moment) I'd have to have a lot more details about what is going o

[2018-05-11 10:28] evilebottnawi commented on #142
@chriseppstein
1. Yes
2. Let's now leave as is
3. :+1:
4. :+1:
5: :+1:

:+1:

Let's first update the prettier, then, stylelint,. then cssnano and i think we can release stable version. These three packages contain a lot of tests and confirmation of the parser's stability.

[2018-05-13 05:29] chriseppstein commented on #142
@evilebottnawi postcss-selector-parser@5.0.0-rc.2 is released with these fixes. stylelint and prettier both seem to pass with these changes.

[2018-05-13 05:29] #142 closed

[2018-05-16 18:11] chriseppstein commented on #135
https://github.com/postcss/postcss/issues/1149

TIL about `postcss-scss`. I think the selector parser and tokenizer should be updated to have a syntax option and then the parser should non-standard syntax correctly or error out based on the current syntax setting. Right now it's all mashed together and unpredictable.

[2018-05-18 17:36] panosru opened #144 "Error: Unexpected "*" found."
Hello,

I'm receiving the following error message:

[code]

when I have the following in my css file:

[code]

[2018-05-30 23:39] jonathantneal opened #145 "TypeError: Cannot read property '_run' of undefined"
The following code:

[code]

Produces the following error:

[code]

While the following code produces no error:

[code]

Perhaps this should be documented?

[2018-05-30 23:40] jonathantneal opened #146 "API.md has confusing example"
The example in [API.md](https://github.com/postcss/postcss-selector-parser/blob/v5.0.0-rc.3/API.md) is confusing because the `processor` const is declared twice:

[2018-05-31 11:15] DavidHenri008 opened #147 "Parsing error with complex custom properties"
I am using postcss-preset-env which use this plugin and I am getting a parsing error when I have a "complex" custom property.

When a css file hat the following code:
[code]
I am getting this error:

Module build failed: Error: Expected a pseudo-class or pseudo-element.
    at Root._error (C:\Git\client-react\node_modules\postcss-attribute-case-insensitive\node_modules\postcss-selector-parser\dist

[2018-06-01 10:13] amitksin opened #148 "!important support missing"
div {
    background: red !important ;
} return value of background as "red" instead of "red !important"

[2018-06-01 11:04] #148 closed

[2018-07-20 15:28] selbyk opened #149 "v4 breaking posthtml-uglify tests"
Hey, thanks for your work on `postcss-selector-parser`!  We have some tests in posthtml-uglify breaking with v4, so just want to verify that this is new expected behavior.

Our test:
[code]

Updating to v4 breaks this returning `'<style>label[for=ab]{ color: blue; }</style>` instead of leaving quotes intact.

Thanks again for your time, would appreciate any insight you could give++

[2018-08-25 07:50] ota-meshi opened #150 "Comments immediately after insensitive (in attribute) are not parsed correctly"
For example, after parsing selector below, if it to string, comments will be lost.

[code]

-> toString

[code]

The result after parsing is also incorrect.

[code]

I think that I expect the next result.

[code]

There was no problem if there was space as follows.

[code]

[2018-08-28 20:15] eramdam opened #152 "Exclamation point (!) inside input string can crash `processSync` (out of memory)"
A "selector" string with `!` inside will completely make the `processSync` method infinite loop.

Considering the following input

[code]

We get the following crash

<details>

[code]

</details>

While `! .body` is obviously not a valid CSS selector in the first place, if `postcss-selector-parser` is used with [postcss-safe-parser](https://github.com/postcss/postcss-safe-parser) it can be very "

[2018-09-17 18:53] #150 closed

[2018-09-17 21:38] chriseppstein commented on #152
Agree. This should not hang. Can you please confirm what version of postcss-selector-parser you encountered this on?

[2018-09-17 21:43] chriseppstein commented on #147
@DavidHenri008 What version of postcss-selector-parser did this occur with?

[2018-09-18 00:11] eramdam commented on #152
@chriseppstein I encountered this on 4.0.0. I didn't notice the 5.0.0 RC back then. Let me see if I can repro on 5.x.

[2018-09-18 00:15] eramdam commented on #152
It turns out 5.0.0 throws an error so that's much more manageable than an OOM crash :) I'll close the issue then.

[2018-09-18 11:14] DavidHenri008 commented on #147
I cannot recall. I understand that my original post lack details in order to reproduce it. Honestly I do not remember the exact environment/project in which I saw this behavior.  If you cannot reproduce it on your side you may consider this issue closed.

[2018-09-18 23:09] AviVahl opened #154 "babel-eslint is installed as a dependency"
Not a huge issue, but I've noticed many babel packages installed in my node_modules because of this dependency.

For the next release, can `babel-eslint` be moved to devDependencies? :)

[2018-09-19 09:35] evilebottnawi commented on #154
@AviVahl oh sorry, feel free to send a PR

[2018-09-19 09:52] AviVahl commented on #154
@evilebottnawi done.

[2018-10-06 05:41] #154 closed

[2018-10-08 22:25] Timer opened #156 "[bug] Babel eslint shipped as a dependency"
v5.0.0-rc.3 marked `babel-eslint` a dependency (`^8.2.3`).

[2018-10-08 22:55] Timer commented on #156
Upgrades to this dependency are breaking Create React App's preflight check, so fixing this quick would be awesome. ❤️

[2018-10-09 21:40] leipert commented on #156
Jup, definitely shipped: https://unpkg.com/postcss-selector-parser@5.0.0-rc.3/package.json

[2018-10-09 21:42] leipert commented on #156
Also: https://github.com/postcss/postcss-selector-parser/compare/v5.0.0-rc.3...master#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L43

Could we get an rc.4 release?

[2018-10-09 21:56] evilebottnawi commented on #156
@leipert already do request to developer how have `npm` access

/cc friendly ping @jonathantneal

[2018-10-09 22:17] leipert commented on #156
Thank you very much 🙇

[2018-10-14 19:33] OKNoah commented on #156
How are people getting around this now?

[2018-10-14 20:12] leipert commented on #156
@OKNoah If you use yarn, you can make use of [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/)

If you have `babel-loader`, you could dedupe it:
[code]
or, if you don't use it, you can put in some random package url:
[code]

[2018-10-15 13:24] iamso opened #157 "Custom selectors breaking"
Hi

while switching my project template from **postcss-cssnext** to **postcss-preset-env** I have discovered that custom selectors are not parsed correctly anymore.

Simple use cases still work, but if you add multiple custom selectors it starts getting weird.

I have posted [this issue](https://github.com/csstools/postcss-preset-env/issues/89) with **postcss-preset-env** and @jonathantneal sugges

[2018-10-15 23:47] Timer commented on #156
Any updates for this?

[2018-10-19 22:44] jonathantneal commented on #157
Okay, I can verify the issue. The following CSS does work:

[code]

It becomes

[code]

---

While the following CSS does not work:

[code]

It instead becomes:

[code]

This may be an issue with [postcss-selector-parser](https://github.com/postcss/postcss-selector-parser).

[2018-10-22 21:26] jharris4 opened #158 "babel-eslint listed in dependencies of npm package for 5.0.0-rc.3"
Hi, I just ran into some babel issues after upgrading packages, and I traced the problem to this package.

The dependencies for `postcss-selector-parser` are:

[code]

It looks like `babel-eslint` was moved to `devDependencies` in this commit: https://github.com/postcss/postcss-selector-parser/commit/01f6b22f2eb99e8e93aef228f6cccf912d56709f#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

Do you think it wo

[2018-10-22 21:44] jharris4 commented on #158
oops, this is a duplicate of #156.

[2018-10-23 03:38] #158 closed

[2018-10-24 11:28] evilebottnawi commented on #157
@iamso @jonathantneal Based on tests https://github.com/postcss/postcss-selector-parser/pull/161 problem not in `postcss-selector-parser`

[2018-10-24 11:35] evilebottnawi commented on #134
Already solved https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/attributes.js#L396

[2018-10-24 11:35] #134 closed

[2018-10-24 17:38] Pajn commented on #156
This broke my environment too now. Please, the total time for every developer hitting and debugging this error is growing. Checking out the old commit, running yarn remove and yarn publish takes five minutes. You do not have to be ready with the next version, just check out the previously published commit.

[2018-10-24 17:41] Timer commented on #156
Yeah, we're starting to see issues pop up for this.
I respect that the developers of this project are likely busy, but if time can be made for this, that'd be great!

In the meantime, maybe we need to use a fork or downgrade (if possible) in Create React App.

[2018-10-24 18:05] evilebottnawi commented on #156
You can use `master`, this already solved

[2018-10-24 18:08] jonathantneal commented on #156
@evilebottnawi, can we publish even with the test issues?

[2018-10-24 18:11] Pajn commented on #156
The problem is not that it can't be worked around. It's that is cost hours to find out why the babel build is all broken without any usable error messages all of a sudden.

[2018-10-24 18:39] leipert commented on #156
@jonathantneal Given that the solution in https://github.com/postcss/postcss-selector-parser/pull/163 is to remove the failing tests, I would say it is safe to publish 👍

[2018-10-24 18:40] evilebottnawi commented on #156
@jonathantneal yes and we need, it is problem on `stylelint` side, better drop `stylelint` testы https://github.com/postcss/postcss-selector-parser/pull/163 they outdated and give us nothing

[2018-10-24 18:41] jonathantneal commented on #156
Okay, diving in.

[2018-10-24 19:34] jonathantneal commented on #156
After many failed attempts at updating the babel-related devDependencies, I’m giving up and moving on to leaving the others updated and publishing.

[2018-10-24 19:38] #144 closed

[2018-10-24 19:38] #149 closed

[2018-10-24 19:57] jonathantneal commented on #156
This is resolved in https://github.com/postcss/postcss-selector-parser/releases/tag/5.0.0-rc.4

I’ll provide one more update and close this issue once I’m able to publish the new release to npm, which should be very soon. Thanks @evilebottnawi, @Timer, @ai.

[2018-10-25 02:41] jonathantneal commented on #156
Published as 5.0.0-rc.4.

[2018-10-25 02:41] #156 closed

[2018-11-13 21:02] sswebcoder opened #164 "Comment in selector"
Hello.

Can somebody explain me how process/processSync should work if string with selectors contain comment, like this: '.newbackbtn,/* .searchall, */.calNav'

I guess what nodes with comment should be exclude in toString function.

Thanks.

![image](https://user-images.githubusercontent.com/22288830/48442912-97101f80-e7a0-11e8-8522-f3d4d940eb18.png)

[2018-11-14 10:29] evilebottnawi commented on #164
@sswebcoder why should be excluded?

[2018-11-14 10:56] sswebcoder commented on #164
Maybe because comment is not selector?
Im not sure.

[2018-11-14 11:01] evilebottnawi commented on #164
@sswebcoder Can you describe you problem with examples?

[2018-11-14 11:04] sswebcoder commented on #164
https://github.com/stylelint/stylelint/issues/3729

[2018-11-14 11:13] evilebottnawi commented on #164
@sswebcoder hm, can yoy test with latest release?

[2018-11-14 11:16] sswebcoder commented on #164
![image](https://user-images.githubusercontent.com/22288830/48479253-d594f100-e817-11e8-9691-ddfffe58c711.png)

[2018-11-14 11:19] evilebottnawi commented on #164
@sswebcoder I can't understand problem, please describe what you have and what you expected and please don't use screenshots, it is hard to read and undestand

[2018-11-14 11:59] evilebottnawi commented on #164
@sswebcoder comments should be part of ast, but it is should be comment node, we should not loss ast information

[2018-11-14 12:01] sswebcoder commented on #164
Thanks for patience and explanation.

[2018-11-14 12:01] #164 closed

[2018-11-27 12:22] plesiecki opened #165 "Classes with dot within"
Hello,

I would like to kindly report a issue with parser.

For given selector `.foo\.bar` (which is valid CSS selector afaik) parser outputs two `ClassName`s: `.foo` and `.bar`.

I think the expected output in this case is a single class.

Noticed same behaviour in v4 and v5

Peace :v:

[2018-11-27 12:49] evilebottnawi commented on #165
@plesiecki yep, it is bug, feel free to send a PR

[2018-11-27 12:58] plesiecki commented on #165
I hope I will try someday. Any clues about this matter would be much appreciated

[2018-12-05 10:41] bjankord opened #166 "5.0.0 stable release?"
Any updates on releasing 5.0.0 stable?

[2018-12-05 10:43] evilebottnawi commented on #166
Need fix https://github.com/postcss/postcss-selector-parser/issues/165 and we can release, feel free to send a PR

[2018-12-22 14:08] #165 closed

[2018-12-22 17:10] jonathantneal commented on #157
Since October, we have made many releases and perhaps this is resolved. If not, https://github.com/csstools/postcss-preset-env/issues/89 can be re-opened.

[2018-12-22 17:10] #157 closed

[2018-12-22 17:16] jonathantneal commented on #146
Resolved by https://github.com/postcss/postcss-selector-parser/commit/3838c63da6196c98c44380414046383f9a49f2c4

[2018-12-22 17:16] #146 closed

[2018-12-22 17:17] jonathantneal commented on #166
Resolved by https://github.com/postcss/postcss-selector-parser/commit/b47e255bbcafc6b30d540b761ad6c0438ec22795

[2018-12-22 17:17] #166 closed

[2019-02-04 16:52] adamwathan opened #168 "Update cssesc to 3.0?"
Any chance you would be open to bumping the cssesc dependency to 3.0 for a new release?

The only change is that it drops unnecessary edge case handling that was only useful to support really old browsers, like IE6-8.

The motivation for it is explained here:

https://github.com/mathiasbynens/cssesc/issues/18

...and the actual change is here:

https://github.com/mathiasbynens/cssesc/pull/19

Than

[2019-02-04 17:05] evilebottnawi commented on #168
@adamwathan feel free to send a PR

[2019-02-04 19:20] adamwathan commented on #168
Done, thanks 👍

[2019-02-05 14:58] #168 closed

[2019-02-11 06:37] wsdo opened #171 "postcss-selector-parser@^5.0.0-rc.4 Unexpected end of JSON input while parsing near '...ods for working with '"
postcss-selector-parser@^5.0.0-rc.4 Unexpected end of JSON input while parsing near '...ods for working with '

[2019-02-11 09:38] evilebottnawi commented on #171
@wsdo please use stable version, also provide example where you have problem

[2019-02-19 14:35] jquense opened #172 "spaces on selectors (or containers in general) don't work"
[code]

I think the idea is that the spaces go on the nodes, but that's a bit unwieldy of an API when walking through the or transforming selectors, since you drill down and find the first non-container thing to apply spacing too.

[2019-02-19 14:37] evilebottnawi commented on #172
@jquense thanks for issue, why don't use `rawSpaceBefore` and `rawSpaceAfter`?

[2019-02-19 14:39] jquense commented on #172
i don't know how too! :) I didn't see that in the documentation. The problem I'm running into here is the case where we replace a pseudo selector with it's children.

its a bit awkward to do: `psuedo.first.first.spaces = psuedo.spaces`

[2019-02-19 14:49] evilebottnawi commented on #172
@jquense hm, `rawSpaceBefore` and `rawSpaceAfter` don't work or it is inconvenient?

[2019-02-19 14:49] #171 closed

[2019-02-19 14:51] jquense commented on #172
they may work, i just don't know what they are.

[2019-02-19 14:55] evilebottnawi commented on #172
@jquense here contains https://github.com/postcss/postcss-selector-parser/blob/master/src/selectors/node.js#L180

[2019-02-19 15:00] jquense commented on #172
gotcha, yeah that works for a `node` but `selector`s are containers and they don't call super() on toString() https://github.com/postcss/postcss-selector-parser/blob/master/src/selectors/container.js#L317

This may be intentional, it's hard to know if you what to do if you put spaces on both the first node and the selector itself. Overall its more inconvenient than anything, and makes the case whe

[2019-02-19 15:05] evilebottnawi commented on #172
@jquense do you have ideas how we can improve this? You can send a PR and we can discussion in PR

[2019-02-20 14:07] evilebottnawi opened #173 "broken for `:root`"
Input: `:root { }`

[2019-02-20 14:08] evilebottnawi opened #174 "broken for `#\#test`"
Input: `#\#test {}`

[2019-02-20 14:09] evilebottnawi opened #175 "broken for `.\3A \`\(`"
Input:
[code]

[2019-02-21 14:11] evilebottnawi commented on #147
/cc @jonathantneal what do you think about this? postcss interpreted `--foo: {}` as rule so we have selector, i think we should interpreted this as non standard `tag` selector instead throw error

[2019-02-25 12:46] #173 closed

[2019-02-25 12:46] #174 closed

[2019-02-25 12:46] #175 closed

[2019-02-25 12:47] #152 closed

[2019-02-25 16:12] evilebottnawi commented on #172
/cc @jquense friendly ping

[2019-02-26 15:29] jquense commented on #172
I don't have a good suggestion right now unfortunately. I'd be nicer if the logic in postcss-local-by-default could be simplified but i'm not sure the right way to handle it given the way this package works

[2019-02-27 20:48] adamwathan opened #182 "className value not escaped when set using constructor"
Not sure if this is by design or not but I expected after #133 that class names would be escaped by default when creating a new className node.

[code]

Maybe @chriseppstein would know if this is intended or not? Seems weird to me to have to set the value through mutation in order to get the escaping behavior.

[2019-03-04 08:43] evilebottnawi commented on #182
Yep, looks like a bug in API, feel free to send a PR

[2019-03-04 12:31] adamwathan commented on #182
The part I'm not sure about is that it seems very deliberate, you can see here that the escaping code is very intentionally only run if you are setting the value outside of the constructor:

https://github.com/postcss/postcss-selector-parser/blob/master/src/selectors/className.js#L14

So would be nice to hear from @chriseppstein to better understand why it works this way.

[2019-03-04 17:55] evilebottnawi opened #183 "Broken selector with unicode"
Input:
[code]

parsed as `팆`, it is surrogate pair, we need handle this rare use case

[2019-03-05 13:56] #183 closed

[2019-03-06 15:36] evilebottnawi opened #185 "loss of empty attribute value"
Reproducible example:
[code]

[2019-03-06 15:54] evilebottnawi commented on #185
Also broken parsing `[href="" i]` (it is valid selector)

[2019-03-06 16:22] #185 closed

[2019-03-15 14:05] evilebottnawi opened #189 "invalid/non stable ast for combinator with comment"
Input:
[code]

It is do impossible analyzes comments, also adopt new version to `stylelint` and `prettier`. For me it is bug, but fixing this change ast.

[2019-03-15 14:05] evilebottnawi commented on #189
/cc @ai what do you think about this

[2019-03-15 19:43] ai commented on #189
Why it will change AST?

[2019-03-16 13:02] evilebottnawi commented on #189
@ai new `comment` node appears in ast(before it was in `raws`), just want to clarify should we release this as patch or major?

[2019-03-16 16:24] ai commented on #189
Technically it should be major

[2019-03-18 16:26] alexander-akait opened #196 "broken api for combinator"
Example:
[code]
Doesn't work, stringifier still use `combinatorNode.raws.value` value

[2019-03-19 13:51] evilebottnawi opened #199 "doesn't throw error on invalid attribute"
Input:
[code]

Not high priority

[2019-03-19 14:32] evilebottnawi opened #200 "broken stringify for `[ *|href ]`"
Input:
[code]
After stringify:
[code]

We lose space before namespace

[2019-03-19 15:00] evilebottnawi commented on #189
Same problem for `[ /*t*/ title /*t*/ = /*t*/ "Something" /*t*/ ]`, comments should be part of ast not `raw`

[2019-03-19 15:11] alexander-akait opened #201 "broken `[href="test"i]`"
Invalid ast for
[code]

[2019-03-19 15:46] evilebottnawi commented on #189
/cc @ai i ahve some questions about spaces too
Example:
[code]

What node should store spaces in this case (inside `raws`?)? Because now logic in parser is very misleading and I can't understand whether we do it right or not

[2019-03-19 16:01] ai commented on #189
To be honest, I am not sure that I know the best answer.

But I think in selector parser we should work with spaces in a different way, compare to PostCSS core. In main CSS syntax, whitespaces don’t mean anything. In selector, whitespace can have a lot of meanings.

So, I think it could be better to have a special token for spaces.

[2019-03-19 16:11] evilebottnawi commented on #189
@ai yep, we already have special token for `space`, my questions about where we should store meta information about space (`raws`). Let's see on example above:
- First spaces should be stored in `raws.before` or `raws.attribute.before`?
- Second space should be stored in `raws.attribute.before` or `raws.operatore.before`?
- Third space should be stored in `raws.operator.after` or `raws.value.befor

[2019-03-19 16:12] ai commented on #189
Why do we need a `raws` for whitespaces when we have `space` token?

[2019-03-19 16:19] evilebottnawi commented on #189
@ai hm can you provide example/PoC of ast with `space` token? We need this spaces for linting/printing in `stylelint` and `prettier`

[2019-03-19 16:21] ai commented on #189
`a b` > `{ type: "word", value: "a" }, { type: "space", value: " " }, { type: "word", value: "b" }`

[2019-03-19 16:31] evilebottnawi commented on #189
@ai in example above `space` is `descendant selector`, we already provide `combinator` as separate node, but in my example spaces mean nothing so we omit them from ast

[2019-03-19 16:48] ai commented on #189
I am not sure that we should omit them from AST.

[2019-03-19 16:53] evilebottnawi commented on #189
@ai I do not see their meaning as they really do not carry here any semantic load, also we do this right now, we can plan this on next major, but will be great solve problems with spaces using `raws` for next release

[2019-03-19 17:21] ai commented on #189
Yeap. This discussion is on you. Sorry, that I can't help right now.

[2019-03-20 10:09] evilebottnawi commented on #189
@ai Maybe not related to issue, but what is blocker integrate selector parser in postcss? Non standard syntax? Or nobody send a PR?

[2019-03-20 15:52] ai commented on #189
@evilebottnawi I am afraid that we will freeze API which will not be the best.

[2019-03-21 10:19] evilebottnawi commented on #189
@ai we can afraid this forever :smile: To be honestly ast of `postcss` is not enough for prettier/stylelint nowadays  (prettier breaks code in many cases and i recommended don't use this for css/scss/less/etc). I think we should start integration `selector`/`value`/`media` parsers otherwise we will need do fork postcss and continue development :disappointed:

[2019-03-21 12:38] evilebottnawi commented on #189
Also we can release this under flag/option and as experimental (adding information to readme about non stable)

[2019-03-21 15:19] ai commented on #189
RIght now our main focus is visitor API https://github.com/postcss/postcss/pull/1245

[2019-03-21 16:08] evilebottnawi commented on #189
@ai Is there any sense send a PR or better fork postcss and starting own development for prettier?

[2019-03-21 16:10] ai commented on #189
@evilebottnawi I have a better plan. Let’s release new AST in `postcss-selector-parser` and if nobody will complain about it, we can move it to PostCSS

[2019-03-21 16:21] evilebottnawi commented on #189
@ai okay :+1: i will ping you before release or when i have some questions

[2019-04-13 23:17] iamso commented on #157
@jonathantneal the issue is still not resolved

[2019-06-04 21:17] evilebottnawi opened #202 "broken ast for `:foo() {}`"
broken ast for `:foo() {}`

[2019-06-04 21:49] evilebottnawi opened #203 "broken ast for `#` and `.`"

[2019-07-31 10:56] vankop opened #204 "broken ast"
regarding to https://github.com/stylelint/stylelint/issues/4049
[code]
Parsers `// this comments is marked as an error` as selectors

[2019-07-31 11:01] evilebottnawi commented on #204
Known issue, we should rewrite parser whole, now we parse comments as part of ast, but it is invalid, we should use `leadingComments`, `trailingComments` and etc as do `babel` (try this in https://astexplorer.net/), it is allow to keep ast clean and works with comments in right way (without pain)

[2019-07-31 11:21] vankop commented on #204
Is it possible to contribute? or this issue still is in discussion?

[2019-07-31 11:26] evilebottnawi commented on #204
@vankop it is breaking change, anyway let's do it, in future we should use `safe` option and throw error on this syntax when for pure css

[2019-08-18 06:20] JounQin opened #206 "Error on scss namespace like `font: `"
[code]

Error: Error: Expected a pseudo-class or pseudo-element.

related: https://github.com/kristerkari/stylelint-scss/issues/359

[2019-08-19 10:29] #206 closed

[2019-08-26 15:44] vankop commented on #204
@evilebottnawi I will take this.

[2019-08-26 15:46] evilebottnawi commented on #204
:+1:

[2019-08-29 10:34] vankop commented on #204
@evilebottnawi should we skip comments in `.toString()` method?

Currently https://github.com/postcss/postcss-selector-parser/blob/master/src/__tests__/util/helpers.js#L24 we expect that comments will be in output

[2019-08-29 10:35] evilebottnawi commented on #204
No, we should print comments

[2019-09-26 11:23] vankop commented on #204
Sorry I was a bit stuck with stringifying comments correctly and gave up =) I hope I will find time on the next week or will create WIP PR.

[2019-11-02 07:47] fisker opened #211 "can't parse attribute with scss expression"
[code]

should be

[code]

[2019-11-28 06:15] konstantin-chukharev commented on #202
Are these issues related? https://github.com/prettier/prettier/issues/6259

[2019-11-28 09:40] evilebottnawi commented on #202
No

[2019-12-14 14:01] anikethsaha opened #217 "support for native css mixin."
From https://github.com/cssnano/cssnano/pull/857

I think as of now, this module and even Postcss doesn't support parsing native CSS mixin. As they are in CSS specs I guess it would be effective to support it out of the box.

[2019-12-16 09:18] evilebottnawi commented on #217
What is spec css mixins?

[2019-12-16 09:23] anikethsaha commented on #217
http://oocss.org/spec/css-mixins.html

Check the 1.4.2

[2019-12-16 09:24] evilebottnawi commented on #217
It is not official css spec

[2019-12-16 09:24] #217 closed

[2020-02-14 22:53] CJNA opened #218 "Version changed from v6.0.2 to v3.1.2."
I don't think this is an intended change, and this confused us with version numbers.

[2020-02-14 22:57] CJNA commented on #218
Nvm. I assume there are multiple major releases you maintain.

[2020-02-14 23:00] #218 closed

[2020-02-18 15:23] evilebottnawi commented on #218
Fixed, it was my mistake with tags

[2020-03-23 09:55] sorsaffari opened #221 "No longer available on registry.yarnpkg.com"
https://registry.yarnpkg.com/postcss-Select-parser/ responds with `404`

[2020-03-23 09:57] evilebottnawi commented on #221
Please report it to yarnpkg repo, we do not respect for it

[2020-03-23 09:57] #221 closed

[2020-03-23 10:00] sorsaffari commented on #221
@evilebottnawi has this repository recently been renamed from `postcss-Select-parser`?

[2020-03-23 10:11] evilebottnawi commented on #221
No, it is always was `postcss-selector-parser`

[2020-06-06 20:26] 43081j opened #225 "Browser support"
If not for this:

https://github.com/postcss/postcss-selector-parser/blob/56156f70701eb6047baeba6f454fd497488d4bee/src/selectors/attribute.js#L6

Your package would work in browsers, through use of a bundler at least. This single import, though, means we have to stub it out or simply don't use this package.

On a similar note, your sources are near enough ES modules but then you go ahead and throw

[2020-07-15 14:44] Edord99 opened #226 "@jquense hm, `rawSpaceBefore` and `rawSpaceAfter` don't work or it is inconvenient?"
@jquense hm, `rawSpaceBefore` and `rawSpaceAfter` don't work or it is inconvenient?

_Originally posted by @evilebottnawi in https://github.com/postcss/postcss-selector-parser/issues/172#issuecomment-465158928_

[2020-07-20 22:00] nex3 opened #228 "Add a selector equality check"
One thing I would find very useful is the ability to check if two selectors are semantically equal. I'm currently comparing the string representations of selectors, but that doesn't capture the fact that (for example) `:is(a, b)` means the same thing as `:is(b, a)` or that `[a=\-1]` means the same thing as `[a="-1"]`. `postcss-selector-parser` notionally has enough information in its AST to make t

[2020-07-25 13:18] papandreou opened #229 "Attribute selector with pipe gets mangled"
Context: https://github.com/cssnano/cssnano/pull/925

[code]

Expected output: `[ foo | bar ]`.

Interestingly, it does work when removing some of the whitespace around the `|`:

* `[ foo| bar ]` => `[ foo|bar ]`
* `[ foo|bar ]` => `[ foo|bar ]`

But:

* `[ foo |bar ]` => `[ foobar  ]`

Maybe related to https://github.com/postcss/postcss-selector-parser/issues/200

[2020-07-25 13:31] evilebottnawi commented on #229
Yes, related, feel free to send a PR

[2020-08-03 11:21] Stianhn opened #230 "npm audit issue for dot-prop"
[ high ] Prototype Pollution
 vulnerable versions <5.1.1 found in:
 -  devDependencies: optimize-css-assets-webpack-plugin>cssnano>cssnano-preset-default>postcss-merge-longhand>stylehacks>postcss-selector-parser>dot-prop
 -  devDependencies: optimize-css-assets-webpack-plugin>cssnano>cssnano-preset-default>postcss-merge-rules>postcss-selector-parser>dot-prop
 -  devDependencies: optimize-css-asset

[2020-08-03 11:23] evilebottnawi commented on #230
Update `postcss-selector-parser` to latest version, it is fixed

[2020-08-03 11:23] #230 closed

[2020-09-14 15:39] Semigradsky opened #231 ""API Documentation" page is outdated"
https://github.com/postcss/postcss-selector-parser/blob/master/API.md

---

- [ ] Node

- appendToPropertyAndEscape
- setPropertyAndEscape
- setPropertyWithoutEscape
- valueToString
- stringifyProperty
- argument in `clone`?

- [ ] Guard functions: `isAttribute`, `isClassName`, ..., etc

[2020-09-25 12:34] ybiquitous opened #232 "TS2310: Type 'Selector' recursively references itself as a base type."
Hello, I encounter the following TypeScript error with the version **6.0.3**.

Here is the reproduction via Docker:

[code]

Put `Dockerfile` with the content above to any directory and then run the following command:

[code]

<img width="1278" alt="image" src="https://user-images.githubusercontent.com/473530/94267312-55dd1f00-ff76-11ea-8f1f-26541fb06576.png">

The location:

https://github.com/po

[2020-09-25 12:36] evilebottnawi commented on #232
Feel free to send a fix, don't have time on this right now, sorry

[2020-09-25 12:37] ybiquitous commented on #232
I'm looking into a solution, but I cannot find it yet... 😕

[2020-09-25 12:49] ybiquitous commented on #232
I'm not sure whether this solution is right, but I could find it:

[code]

See also https://github.com/microsoft/TypeScript/pull/33050

[2020-09-25 13:13] ybiquitous commented on #232
Note that this error occurs on TypeScript 4, not TypeScript 3:

[code]

[code]

[2020-09-25 15:16] #232 closed

[2020-09-25 15:21] ybiquitous commented on #232
@evilebottnawi Thanks! I'll try the new version [6.0.4](https://www.npmjs.com/package/postcss-selector-parser/v/6.0.4) on `stylelint` repo.

[2020-11-19 10:56] SharakPL commented on #138
@stylelint in vscode throws it during typing. Expected behaviour would be to simply mark the problematic code appropriately, not to throw an error. Should it be fixed here or within Stylelint?

[2020-11-27 07:55] krainboltgreene opened #235 "Not exposing types?"
I'm on the latest published version and there aren't any exposed types to import?

[2020-12-29 20:45] 43081j commented on #225
Fixed by #210

[2020-12-29 20:45] #225 closed

[2021-01-13 06:04] Edord99 opened #237 "@cicorias Any word on that PR?"
@cicorias Any word on that PR?

__最初由 @RichardLitt 在 https://github.com/simonv3/covenant-generator/issues/20#issuecomment-534678199 发布__

[2021-01-13 10:59] alexander-akait commented on #237
Not sure how it is related to this repo

[2021-04-10 10:40] Edord99 commented on #237
🥺

[2021-04-12 15:00] nternetinspired opened #240 "Are wildcard attribute selectors supported?"
Hello.

My builds, which us the mini-css-extract-plugin, fail when I attempt to use wildcard attribute selectors, like `[class^="foo"]` or `[class*="bar"]`. Is this a known issue?

[2021-04-12 15:02] alexander-akait commented on #240
Supported, what is the problem?

[2021-04-14 22:14] Edord99 opened #241 "Uouo"
URL.8.com

[2021-04-14 22:15] Edord99 commented on #241
Iamiam

[2021-04-14 22:16] Edord99 commented on #241
Iam

[2021-04-14 22:16] #241 closed

[2021-04-29 16:46] daddyschmack commented on #204
This issue is occurring in upgrade for angular 12, and i also get this criptic error message that the angular people says comes from this progam after I replace all the // comments:
Error: Unexpected '/'. Escaping Social characters with \ may help

Shouldn't the error message give a location where this error occurs?

[2021-04-30 15:09] patrickszmucer opened #243 "Wrong source and sourceIndex for Sass interpolated selectors"
Repro:

[code]

Compare with this selector that has the same length:

[code]

I tried to look at the parser code to figure out what's wrong but I didn't manage to figure this one out.

[2021-05-11 17:05] alexander-akait opened #246 "broken attribute selectors with `\a` and ` ` characters"
Unfortunately this example fails at the moment. It turns into `\a` into `a` (removes only the `\`). It seems a different problem though.

_Originally posted by @ludofischer in https://github.com/postcss/postcss-selector-parser/pull/245#r629639304_

Example:
[code]

[2021-05-11 17:05] alexander-akait commented on #246
Let's fix it late, anyway PR welcome

[2021-05-19 15:22] studentIvan opened #247 "walkClasses doesn't work as expected - it walk through the animation percents also"
I use `root.walkClasses((classNode) => {` inside the processor function but it walks thought the percents of this animation example:

[code]

E.g. 67% is a "class" here...

I had to use my own check inside:

[code]

[2021-05-19 15:41] alexander-akait commented on #247
Feel free to send a fix

[2021-05-24 16:07] dimmank opened #248 "Expected a pseudo-class or pseudo-element"
I'm getting this error after updating from Angular v11 to v12.
Is it possible to get more error details at line 875
if (!this.currToken) {
      return this.expected(['pseudo-class', 'pseudo-element'], this.position - 1);
}
Spent several days trying to find an error with no luck.
Are there other ways to get more information by logging out more stuff  by manually mofifying that line perhaps?

Cheer

[2021-05-24 16:09] alexander-akait commented on #248
In most cases you have broken CSS, I need to look at code on `875` line

[2021-05-25 05:30] dimmank commented on #248
Yes, it probably is, but the project is very large and have hundreds of components and scss-files.
It´s like searching for a needle in a haystack.
I have run stylelint and with no warnings and errors but still without success.

The error also points to a file that does not exists or is removed after prod build.
Error: Expected a pseudo-class or pseudo-element.
at C:\some_project_path\angular-resou

[2021-05-25 09:12] alexander-akait commented on #248
Can you provide source code of `angular-resource-output-8.css`?

[2021-05-25 09:52] dimmank commented on #248
No, as a wrote above, that file cannot be found on the path printed out in the error.

[2021-05-25 09:56] alexander-akait commented on #248
In this case I can't help, sorry

[2021-05-31 10:05] dimmank commented on #248
Not sure if I´m being unclear here.
I just want to know how to get more error details from this parser.

Best regards Dimitri

[2021-06-03 09:08] dimmank commented on #248
So, I found the problem that cased this error.
It was an inline style in a component.
wrong: host: { ...
correct :host { ...

[2021-06-03 09:08] #248 closed

[2021-08-12 17:47] guilhermetod commented on #204
@daddyschmack just helped a teammate with this. Apparently this is a problem with CRLF or something related to Stylelint's ignoreFiles.

[2021-12-08 14:36] dhlolo commented on #247
Send a fix in https://github.com/postcss/postcss-selector-parser/pull/250

[2021-12-09 12:22] alexander-akait commented on #247
Fixed

[2021-12-09 12:22] #247 closed

[2021-12-14 01:42] HairyRabbit opened #251 "Would we add `pos` to ast source property"
Hi, I write a vsc extension want to implement `go to definition`, it require position info. I see that token already has `pos` property, would we also add to `node.source` filed?

[2021-12-14 10:03] alexander-akait commented on #251
Why you need this on `mode.source` property? Can you show AST which you expected?

[2021-12-14 12:10] HairyRabbit commented on #251
I write css code in js via template string, like

[code]

the `tss.getDefinitionAndBoundSpan` require position info,

[code]

I need comput position base on template string node, css rule and selector. So I hope selector parser can provide `offset` just like postcss:

[code]

[2021-12-14 12:28] alexander-akait commented on #251
But you can calculate them

[2021-12-14 13:37] HairyRabbit commented on #251
sure, but I think it can implement when parse, or any api provide like `ts.getPositionFromLineAndColumn`

[2021-12-14 13:59] alexander-akait commented on #251
hm, do you need offset, because we have https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L49

[2021-12-14 14:47] HairyRabbit commented on #251
yes, I fork the code then add TOKEN.START_POS to getSource function and do some update with getTokenSource, looks fine for me.

[2021-12-14 14:52] alexander-akait commented on #251
PR welcome

[2022-01-19 15:19] ybiquitous opened #253 "TypeScript error: "Property 'raws' does not exist on type 'Combinator'.""
## Summary

Hi. I encounter a TypeScript error when using a `Combinator`. It seems that the `raws` property on the `Combinator` type is missing.

Here is a reproduction: ⬇️

## Reproduction

`package.json`:

[code]

`a.js`:

[code]

Run:

[code]

## Environment

- `postcss-selector-parser` 6.0.8
- TypeScript 4.5.4
- Node.js 17.3.1
- npm 8.3.0
- macOS Monterey 12.1

[2022-01-19 15:35] alexander-akait commented on #253
PR welcome

[2022-01-20 11:58] #253 closed

[2022-01-20 12:16] ybiquitous commented on #253
@alexander-akait Thank you for the quick release! 😊

[2022-08-02 21:35] tristanpendergrass opened #265 "node.walk is not a function"
Hello, I am using postcss with Parcel and Tailwind in my project and everything has been going smoothly until I tried to use a certain feature of Tailwind: it happens when I add the "group-hover" part to the following lines:

[code]

The output on the command line is:

[code]

Final details: I'm on Windows, Node version is `v17.0.1`, and I'll paste my dependency versions here for good measure:
[co

[2022-08-31 05:29] GoodGoodJM commented on #265
I have same issue

[2022-08-31 15:29] magne4000 commented on #265
Same issue, but not related to having `group-hover` class. Reverting to `tailwind @~3.0.24` solves the issue for me.

[2022-09-02 08:05] mostafa-hisham opened #266 "infinite loop when using processSync with some css selectors that has "|""
when using `processSync` on css rules contains `|` Leeds to infinite loops
some rules examples
[code]

[2022-09-02 16:52] alexander-akait commented on #266
Sounds like a bug, feel free to send a fix

[2022-09-15 16:48] iskandar-aptiv commented on #266
seems missed to update position when when  pipe is detected`|` here https://github.com/postcss/postcss-selector-parser/blob/master/src/parser.js#L518

[2022-11-19 11:52] romainmenke commented on #201
related : https://github.com/postcss/postcss-selector-parser/pull/267

[2022-11-20 17:49] #201 closed

[2022-11-27 09:07] romainmenke commented on #266
What is the expectation here?

Is `|` a non-standard combinator, a word, or do we throw an error?

All the examples given are invalid selectors, neither column combinators, nor namespaces.